<include file="Public:header" />

<div class="content">
	<div class="slide-unit reset-password-logo">
		{$Think.Lang.V_LOGIN_FINDPWD_1}
	</div>
	<div class="register-box">
		<div class="register-form">
			<div id="register-phone-form" class="register-list active">
				<div class="register-item">
					<label>{$Think.Lang.V_LOGIN_FINDPWD_2}</label>
					<input type="text" id="mobles" class="texts" style="display: none;">
					<input type="text" id="moble"  placeholder="{$Think.Lang.V_LOGIN_FINDPWD_3}" onblur="check_count()"/>
				</div>
				<div class="register-item">
					<label>{$Think.Lang.V_LOGIN_FINDPWD_4}</label>
					<div class="clearfix">
						<div class="register-phone-select">
							<img id="verify_up" src="{:U('Verify/code')}" title="{$Think.Lang.V_LOGIN_FINDPWD_5}" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34"/>
						</div>
						<div class="clearfix register-phone-input">
							<div class="register-code-input">
								<input id="verify" type="text" name="phone" placeholder="{$Think.Lang.V_LOGIN_FINDPWD_6}" />
							</div>
							<div class="register-code-btn">
								<a class="register-phone-code-btn" id="reg_moble" href="javascript:;" onclick="sendVerifyCode()">{$Think.Lang.V_LOGIN_FINDPWD_7}</a>
							</div>
						</div>
					</div>
				</div>

				<div class="register-item">
					<label>{$Think.Lang.V_LOGIN_FINDPWD_8}</label>
					<input id="moble_verify" type="text" name="name" placeholder="{$Think.Lang.V_LOGIN_FINDPWD_9}" />
				</div>

				<div class="register-item tc reset-password-form-item clearfix">
					<a class="reset-password-form-submit" href="#" onclick="findpwd_up();">{$Think.Lang.V_LOGIN_FINDPWD_10}</a>
				</div>
			</div>
			<div class="register-form-info tc">{$Think.Lang.V_LOGIN_FINDPWD_11}</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    var regMoble = /^\d{10,20}$/;
    var emailreg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	function check_count() {
		var moble  = $('#moble').val();
		var mobles = $('#mobles').val();
		if (moble == "" || moble == null) {
			layer.tips(lange.LOGIN_FINDPWD_1, '#moble', {tips: 2});
			return false;
		}
        if (regMoble.test(moble))//手机
        {
            layer.load();
            $.post("/Login/check_pwdmoble.html", {
                moble: moble,
                mobles: mobles,
                token: ""
            }, function (data) {
                layer.closeAll('loading');
                if (data.status == 1) {
                    $('#reg_moble').html(lange.LOGIN_FINDPWD_2);
                } else {
                    layer.tips(data.info, '#moble', {tips: 2});
                    return false;
                }
            }, 'json');
        }else if(emailreg.test(moble)){
            layer.load();
            $.post("/Login/check_pwdemail.html", {
                email: moble,
                mobles: mobles,
                token: ""
            }, function (data) {
                layer.closeAll('loading');
                if (data.status == 1) {
                    $('#reg_moble').html(lange.LOGIN_FINDPWD_2);
                } else {
                    layer.tips(data.info, '#moble', {tips: 2});
                    return false;
                }
            }, 'json');
		}else{
            layer.tips(lange.LOGIN_FINDPWD_4, '#moble', {tips: 2});
            return false;
		}
	}

	function sendVerifyCode(){
        var account  = $('#moble').val();
        if (regMoble.test(account))//手机
        {
            moble_send();
        }
        else if(emailreg.test(account))//邮箱
        {
            email_send();
        }else{
            layer.tips(lange.LOGIN_FINDPWD_1, '#moble', {tips: 2});
            return false;
		}
	}

	function moble_send() {
        if($('#reg_moble').html() != lange.LOGIN_FINDPWD_6){
            return;
        }
		var moble  = $("#moble").val();
		var mobles = $("#mobles").val();
		var verify = $("#verify").val();
		if (moble == "" || moble == null) {
			layer.tips(lange.LOGIN_FINDPWD_1, '#moble', {tips: 2});
			return false;
		}
		if (verify == "" || verify == null) {
			layer.tips(lange.LOGIN_FINDPWD_4, '#verify', {tips: 2});
			return false;
		}
		$.post("/verify/moble_findpwd.html", {
			moble: moble,
			mobles: mobles,
			type: 'sms',
			verify: verify,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$("#step1").hide();
				$("#step2").hide();
				$("#moble_verify").focus();
				$('#moble').attr("disabled", "disabled");
				$('#mobles').attr("disabled", "disabled");
				var obj      = $('#reg_moble');
				var wait     = 30;
				var interval = setInterval(function () {
					obj.html("" + wait + lange.FINANCE_OUT_SENDSMS2);
					wait--;
					if (wait < 0) {
						clearInterval(interval);
                        $("#verify_up").click();
						$("#verify").val('');
						obj.html(lange.LOGIN_FINDPWD_2);
					}
					;
				}, 1000);
			} else {
                $("#verify_up").click();
				layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
			}
		}, "json");
	}



    function email_send() {
        if($('#reg_moble').html() != lange.LOGIN_FINDPWD_2){
            return;
        }
        var email  = $("#moble").val();
        var mobles = $("#mobles").val();
        var verify = $("#verify").val();
        if (moble == "" || moble == null) {
            layer.tips(lange.LOGIN_FINDPWD_12, '#moble', {tips: 2});
            return false;
        }
        if (verify == "" || verify == null) {
            layer.tips(lange.FINDPWD_FINDPWD_2, '#verify', {tips: 2});
            return false;
        }
        $.post("/verify/email_findpwd.html", {
            email: email,
            mobles: mobles,
            type: 'email',
            verify: verify,
            token: ""
        }, function (data) {
            if (data.status == 1) {
                layer.msg(data.info, {icon: 1});
                $("#step1").hide();
                $("#step2").hide();
                $("#moble_verify").focus();
                $('#moble').attr("disabled", "disabled");
                $('#mobles').attr("disabled", "disabled");
                var obj      = $('#reg_moble');
                var wait     = 30;
                var interval = setInterval(function () {
                    obj.html("" + wait + lange.FINANCE_OUT_SENDSMS2);
                    wait--;
                    if (wait < 0) {
                        clearInterval(interval);
                        $("#verify_up").click();
                        $("#verify").val('');
                        obj.html(lange.LOGIN_FINDPWD_2);
                    }
                    ;
                }, 1000);
            } else {
                $("#verify_up").click();
                layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
            }
        }, "json");
    }


	function findpwd_up() {
		var moble        = $("#moble").val();
		var mobles       = $("#mobles").val();
		var moble_verify = $("#moble_verify").val();
        var account  = $('#moble').val();
        if (regMoble.test(account))//手机
        {
            if (moble == "" || moble == null) {
                layer.tips(lange.LOGIN_FINDPAYPWD_1, '#moble', {tips: 2});
                return false;
            }
            if (moble_verify == "" || moble_verify == null) {
                layer.tips(lange.FINDPWD_FINDPWD_6, '#moble_verify', {tips: 2});
                return false;
            }
            layer.load();
            $.post("/Login/findpwd.html", {
                moble: moble,
                mobles: mobles,
                moble_verify: moble_verify,
                token: ""
            }, function (data) {
                if (data.status == 1) {
                    layer.msg(data.info, {icon: 1,time:2000},function(){
                        window.location = '/Login/findpwdconfirm';
					});
                } else {
                    layer.msg(data.info, {icon: 2,time:2000},function(){
                        if (data.url) {
                            window.location = data.url;
                        }
					});
                }
                layer.closeAll('loading');
            }, "json");
        }
        else if(emailreg.test(account))//邮箱
        {
            if (moble == "" || moble == null) {
                layer.tips(lange.LOGIN_FINDPWD_12, '#moble', {tips: 2});
                return false;
            }
            if (moble_verify == "" || moble_verify == null) {
                layer.tips(lange.FINDPWD_FINDPWD_6, '#moble_verify', {tips: 2});
                return false;
            }
            layer.load();
            $.post("/Login/findpwd_email.html", {
                email: moble,
                mobles: mobles,
                email_verify: moble_verify,
                token: ""
            }, function (data) {
                if (data.status == 1) {
                    layer.msg(data.info, {icon: 1,time:2000},function(){
                        window.location = '/Login/findpwdconfirm';
					});

                } else {
                    layer.msg(data.info, {icon: 2,time:2000},function(){
                        if (data.url) {
                            window.location = data.url;
                        }
					});
                }
                layer.closeAll('loading');
            }, "json");
        }else{
            layer.tips(lange.LOGIN_FINDPWD_13, '#moble', {tips: 2});
            return false;
        }
	}
</script>

<include file="Public:footer" />
