<include file="Public:header" />

<div class="content">
    <div class="slide-unit register-logo">
        <img src="__PUBLIC__/v2/images/reset-password-1.jpg">
    </div>
    <div class="register-box">
        <div class="register-form">
            <div id="register-phone-form" class="register-list active">
                <div class="register-item tc reset-password-form-item clearfix">
                    <a href="/Login/index.html" class="reset-password-form-submit">立即登录</a>
                </div>
            </div>
            <div class="register-form-info tc">恭喜您，找回登录密码成功！</div>
        </div>
    </div>
</div>

<include file="Public:footer" />
