<include file="Public:header" />
<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />
		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title">
						<p>{$Think.Lang.V_LOGIN_FINDPAYPWD_1}</p>
					</h3>
				</div>
				<div class="clearfix">
					<div class="default-form">
						<div class="form-item">
							<h5 class="form-label">{$Think.Lang.V_LOGIN_FINDPAYPWD_2}</h5>
							<input type="text" id="mobles" class="texts" style="display: none;">
							<input type="text" id="moble" name="phone" class="form-input" placeholder="{$Think.Lang.V_LOGIN_FINDPAYPWD_3}" onblur="check_moble()" />
						</div>
						<div class="form-item">
							<h5 class="form-label">{$Think.Lang.V_LOGIN_FINDPAYPWD_4}</h5>
							<input type="text" id="verify" value="" class="form-input"/>
							<img id="verify_up" class="codeImg reloadverify" src="{:U('Verify/code')}" title="{$Think.Lang.V_LOGIN_FINDPAYPWD_5}" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34">
							<span class="input-group-addon tc" onclick="moble_findpwd('sms')" >{$Think.Lang.V_LOGIN_FINDPAYPWD_6}</span>
						</div>
						<div class="form-item">
							<h5 class="form-label">{$Think.Lang.V_LOGIN_FINDPAYPWD_7}</h5>
							<div class="input-group input-group-r">
								<input id="moble_verify" type="text" name="code" class="form-control form-input" placeholder="{$Think.Lang.V_LOGIN_FINDPAYPWD_8}"/> <span id="reg_moble" class="input-group-addon tc">{$Think.Lang.V_LOGIN_FINDPAYPWD_9}</span>
							</div>
						</div>
						<div class="form-item">
							<button class="default-form-submit pull-right" onclick="findpwd_up()">{$Think.Lang.V_LOGIN_FINDPAYPWD_10}</button>
						</div>
						<div class="form-item">
							<p class="form-item-msg">
								<span class="picon-warning">{$Think.Lang.V_LOGIN_FINDPAYPWD_11}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	function check_moble() {
		var moble  = $('#moble').val();
		var mobles = $('#mobles').val();
		if (moble == "" || moble == null) {
			layer.tips(lange.LOGIN_FINDPAYPWD_1, '#moble', {tips: 2});
			return false;
		}
		$.post("/findpwd/check_moble.html", {
			moble: moble,
			mobles: mobles,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				$("#step1").show();
				$("#step2").show();
				$('#reg_moble').html('<a class="move" onclick="new_send()">'+lange.LOGIN_FINDPAYPWD_2+'</a>');
			} else {
				layer.tips(data.info, '#moble', {tips: 2});
				return false;
			}
		}, 'json');
	}


	function verify_ups() {
		$('#verify_up').attr('src', "/ajax/verify.html?t=" + Math.random());
	}

	function new_send() {
		$("#step1").show();
		$("#step2").show();
	}


	function moble_findpwd(type) {
		var moble  = $("#moble").val();
		var mobles = $("#mobles").val();
		var verify = $("#verify").val();
		if (moble == "" || moble == null) {
			layer.tips(lange.LOGIN_FINDPAYPWD_1, '#moble', {tips: 2});
			return false;
		}
		if (verify == "" || verify == null) {
			layer.tips(lange.FINDPWD_FINDPWD_2, '#verify', {tips: 2});
			return false;
		}
		$.post("/verify/moble_findpwd.html", {
			moble: moble,
			mobles: mobles,
			type: type,
			verify: verify,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$("#step1").hide();
				$("#step2").hide();
				$("#moble_verify").focus();
				$('#moble').attr("disabled", "disabled");
				$('#mobles').attr("disabled", "disabled");
				// var obj      = $('#reg_moble');
				var wait     = 30;
				var interval = setInterval(function () {
					// obj.html("<a>" + wait + "秒可再次发送" + "</a>");
					wait--;
					if (wait < 0) {
						clearInterval(interval);
                        $("#verify_up").click();
						$("#verify").val('');
						// obj.html('<a class="move" onclick="new_send()">点击重新发送</a>');
					}
					;
				}, 1000);
			} else {
                $("#verify_up").click();
				layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
			}
		}, "json");
	}


	function findpwd_up() {
		var moble        = $("#moble").val();
		var mobles       = $("#mobles").val();
		var moble_verify = $("#moble_verify").val();


		if (moble == "" || moble == null) {
			layer.tips(lange.LOGIN_FINDPAYPWD_1, '#moble', {tips: 2});
			return false;
		}
		if (moble_verify == "" || moble_verify == null) {
			layer.tips(lange.FINDPWD_FINDPWD_6, '#moble_verify', {tips: 2});
			return false;
		}

		$.post("/findpwd/up.html", {
			moble: moble,
			mobles: mobles,
			moble_verify: moble_verify,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    } else {
                        window.location.reload();
                    }
				});
			} else {
				layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
			}
		}, "json");
	}
</script>
<script>
	$('#index_box').addClass('active');
</script>






<include file="Public:footer" />