<include file="Public:header" />


<div class="content">
	<div class="slide-unit login-logo">
		<img src="__PUBLIC__/v2/images/login-1.jpg">
	</div>
	<div class="register-box">
		<div class="register-form">
			<div id="register-phone-form" class="register-list active">
				<div class="register-item">
					<label>账号</label>
					<input type="text" id="login_mobles" class="texts" style="display: none;">
					<input type="text" id="login_moble"  placeholder="请输入登录账号" value=""/>
				</div>
				<div class="register-item">
					<label>密码</label>
					<input id="login_password" type="password" placeholder="请输入登录密码">
				</div>
				<div class="register-item register-code">
					<label>验证码</label>
					<p><input name="name[]" type="text" id="login_verify" placeholder="输入验证码"><img id="login_verify_up" src="/Verify/code.html"
							 title="换一张" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34">
					</p>
				</div>
				<div class="register-item tc login-form-item clearfix">
					<p><a class="default-form-submit" href="javascript:;" onclick="footer_login();">登录</a></p>
					<a href="/Login/findpwd.html" class="login-forgot-password">忘记密码</a>
					<a class="login-registration" href="/Login/register.html">免费注册</a>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
    $("#loginBtn").addClass("active");
    function footer_login() {
        var moble = $("#login_moble").val();
        var mobles = $("#login_mobles").val();
        var password = $("#login_password").val();
        var verify = $("#login_verify").val();
        if (moble == "" || moble == null) {
            alert
            layer.tips('请输入登录账号', '#login_moble', {tips: 2});
            return false;
        }
        if (password == "" || password == null) {
            layer.tips('请输入登录密码', '#login_password', {tips: 2});
            return false;
        }
        if (verify == "" || verify == null) {
            layer.tips('请输入验证码', '#login_verify', {tips: 2});
            return false;
        }
        $.post("/login/submit/", {
            username:moble,
            moble: moble,
            mobles: mobles,
            password: password,
            verify: verify,
            login_token: "",
        }, function (data) {
            if (data.status == 1) {
                layer.msg(data.info, {icon:1,time:2000},function(){
                    window.location = "/Index";
				});
            } else {
                layer.msg(data.info, {icon:2,time:2000},function(){
                    $("#login_verify_up").click();
				});
            }
        }, "json");
    }
    $(function(){
        //submit 事件
        $('.register-form').on('keyup','input',function(e){
            if(e.keyCode == 13){
                $('.default-form-submit').click();
            }
        });
    });
</script>
<include file="Public:footer" />