<include file="Public:header" />


<div class="content">
	<div class="slide-unit login-logo">
		{$Think.Lang.V_LOGIN_INDEX_1}
	</div>
	<div class="register-box">
		<div class="register-form">
			<div id="register-phone-form" class="register-list active">
				<div class="register-item">
					<label>{$Think.Lang.V_LOGIN_INDEX_2}</label>
					<input type="text" id="login_mobles" class="texts" style="display: none;">
					<input type="text" id="login_moble"  placeholder="{$Think.Lang.V_LOGIN_INDEX_3}" value=""/>
				</div>
				<div class="register-item">
					<label>{$Think.Lang.V_LOGIN_INDEX_4}</label>
					<input id="login_password" type="password" placeholder="{$Think.Lang.V_LOGIN_INDEX_5}">
				</div>
				<div class="register-item register-code">
					<label>{$Think.Lang.V_LOGIN_INDEX_6}</label>
					<p><input name="name[]" type="text" id="login_verify" placeholder="{$Think.Lang.V_LOGIN_INDEX_7}"><img id="login_verify_up" src="/Verify/code.html"
							 title="{$Think.Lang.V_LOGIN_INDEX_8}" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34">
					</p>
				</div>
				<div class="register-item tc login-form-item clearfix">
					<p><a class="default-form-submit" href="javascript:;" onclick="footer_login();">{$Think.Lang.V_LOGIN_INDEX_9}</a></p>
					<a href="/Login/findpwd.html" class="login-forgot-password">{$Think.Lang.V_LOGIN_INDEX_10}</a>
					<a class="login-registration" href="/Login/register.html">{$Think.Lang.V_LOGIN_INDEX_11}</a>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/v2/js/md5.js"></script>

<script>
    $("#loginBtn").addClass("active");
    function footer_login() {
        var moble = $("#login_moble").val();
        var mobles = $("#login_mobles").val();
        var password = $("#login_password").val();
        var verify = $("#login_verify").val();
        if (moble == "" || moble == null) {
            alert
            layer.tips(lange.LOGIN_INDEX_1, '#login_moble', {tips: 2});
            return false;
        }
        if (password == "" || password == null) {
            layer.tips(lange.LOGIN_INDEX_2, '#login_password', {tips: 2});
            return false;
        }
        if (verify == "" || verify == null) {
            layer.tips(lange.FINDPWD_FINDPWD_6, '#login_verify', {tips: 2});
            return false;
        }
        $.post("/login/submit/", {
            username:moble,
            moble: moble,
            mobles: mobles,
            password: hex_md5(password),
            verify: verify,
            login_token: "",
        }, function (data) {
            if (data.status == 1) {
                layer.msg(data.info, {icon:1,time:2000},function(){
                    window.location = "/Index";
				});
            } else {
                layer.msg(data.info, {icon:2,time:2000},function(){
                    $("#login_verify_up").click();
				});
            }
        }, "json");
    }
    $(function(){
        //submit 事件
        $('.register-form').on('keyup','input',function(e){
            if(e.keyCode == 13){
                $('.default-form-submit').click();
            }
        });
    });
</script>
<include file="Public:footer" />