<include file="Public:header" />

<div class="content">
	<div class="slide-unit register-logo">
	</div>
	<div class="register-box">
		<div class="register-form">
			<div id="register-phone-form" class="register-list active">
				<div class="register-item">
					<label>{$Think.Lang.V_LOGIN_INFO_1}</label>
				</div>

				<div class="register-item">
					<if condition="$user['email'] neq ''">
						<label>{$Think.Lang.V_LOGIN_INFO_2}{$user.email}</label>
						<else/>
						<label>{$Think.Lang.V_LOGIN_INFO_3}{$user.moble}</label>
					</if>
				</div>
				<div class="register-item">
					{$Think.Lang.V_LOGIN_INFO_4}<label class="default-btn"><a href="/" >{$Think.Lang.V_LOGIN_INFO_5}</a></label> {$Think.Lang.V_LOGIN_INFO_6} <label class="default-btn"><a href="{:U('Finance/mycz')}">{$Think.Lang.V_LOGIN_INFO_7}</a></label>
				</div>
			</div>

		</div>
	</div>
</div>

<include file="Public:footer" />