<include file="Public:header" />

<div class="content">
	<div class="slide-unit register-logo">
		
	</div>
	<div class="register-box">
		<div class="register-form">
			<div id="register-phone-form" class="register-list active">
				<div class="register-item hide">
					<label>{$Think.Lang.V_LOGIN_PAYPASSWORD_1}</label>
					<input type="text" id="username"  placeholder="{$Think.Lang.V_LOGIN_PAYPASSWORD_2}">
				</div>
				<div class="register-item hide">
					<label>{$Think.Lang.V_LOGIN_PAYPASSWORD_3}</label>
					<input type="text" id="email"  placeholder="{$Think.Lang.V_LOGIN_PAYPASSWORD_4}">
				</div>

				<div class="register-item">
					<label>{$Think.Lang.V_LOGIN_PAYPASSWORD_5}</label>
					<input type="password" id="paypassword" placeholder="{$Think.Lang.V_LOGIN_PAYPASSWORD_6}" />
				</div>
				<div class="register-item">
					<label>{$Think.Lang.V_LOGIN_PAYPASSWORD_7}</label>
					<input type="password" id="repaypassword" placeholder="{$Think.Lang.V_LOGIN_PAYPASSWORD_8}" />
				</div>
				<div class="register-item tc login-form-item clearfix">
					<p><a class="default-form-submit" href="javascript:;" onclick="paypassword_up();">{$Think.Lang.V_LOGIN_PAYPASSWORD_9}</a></p>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/m/js/md5.js"></script>
<script>
	function paypassword_up() {
		//var username      = $("#username").val();
		//var email         = $("#email").val();
		var paypassword   = $("#paypassword").val();
		var repaypassword = $("#repaypassword").val();

		if (paypassword == "" || paypassword == null) {
			layer.tips(lange.LOGIN_PAYPASSWORD_1, '#paypassword', {tips: 2});
			return false;
		}
		if (repaypassword == "" || repaypassword == null) {
			layer.tips(lange.LOGIN_PAYPASSWORD_2, '#repaypassword', {tips: 2});
			return false;
		}
		if (paypassword != repaypassword) {
			layer.tips(lange.LOGIN_PAYPASSWORD_3, '#repaypassword', {tips: 2});
			return false;
		}

		$.post("/Login/upregister2.html", {
			paypassword: hex_md5(paypassword),
			repaypassword: hex_md5(repaypassword),
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1,time:2000},function () {
                    // window.location = '/Login/truename';
                    window.location ='/Login/info';
                });
			} else {
				layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
			}
		}, "json");
	}
</script>








<include file="Public:footer" />