<include file="Public:header" />
<style>
	.order li {
		color:#fff;
	}
	
	.reg_box1 {
		margin-top: 11px;
		margin-bottom: 48px;
		padding-bottom: 38px;
		min-height: 400px;
	}
	.reg_title {
		color: #fff;
	}
	.reg_radio_box a {
		color: #fff;
	}
	
</style>
<div class="autobox" id="reg-step3" style="position:absolute;left:50%;margin-left:-600px;">
	<div class="login_step">
		<ul class="order clear">
			<li><i class="order_1"></i>{$Think.Lang.V_LOGIN_REGISTER2_1}<div class="order_line"></div></li>
			<li><i class="order_2"></i>{$Think.Lang.V_LOGIN_REGISTER2_2}<div class="order_line"></div></li>
			<li class="orange"><i class="order_3_1"></i>{$Think.Lang.V_LOGIN_REGISTER2_3}<div class="order_line"></div></li>
			<li><i class="order_4"></i>{$Think.Lang.V_FINANCE_OUT_SUCCESS}</li>
		</ul>
	</div>
	<div class="reg_box1">
		<div class="reg_wrap pt47">
			<div class="reg_warning"><span>{$Think.Lang.V_LOGIN_REGISTER3_5}</span></div>
			<div class="reg_input_box reg-fb">
				<div class="reg_title">{$Think.Lang.V_LOGIN_REGISTER3_6}</div>
				<input type="text" id="regtruename" value="" />
				<div id="regtruename-msg" class="form_explain" style="display: none" data-explain="{$Think.Lang.V_LOGIN_REGISTER3_7}<em></em>" >{$Think.Lang.V_LOGIN_REGISTER3_7}<em></em></div>
			</div>
			<div class="reg_input_box reg-fb">
				<div class="reg_title">{$Think.Lang.V_LOGIN_REGISTER3_8}</div>
				<input type="text" id="regidcard" value="" />
				<div id="regidcard-msg" class="form_explain" style="display: none" data-explain="{$Think.Lang.V_LOGIN_REGISTER3_9}<em></em>" >{$Think.Lang.V_LOGIN_REGISTER3_9}<em></em></div>
			</div>

			<div class="reg_button_box" style="width:300px;">
				<input type="button" value="{$Think.Lang.V_LOGIN_REGISTER3_10}" onclick="Update();"/>
			</div>
		</div>
	</div>
</div>

	<section class="canvas-wrap" style="min-height:700px;">
		<div id="canvas" class="gradient"></div>
	</section>

<div class="autobox" style="margin-bottom: 30px">
	{$Think.Lang.V_LOGIN_REGISTER2_11}
</div>
<script>
	$('input').focus(function(){
		var t=$(this);
		if(t.attr('type')=='text'||t.attr('type')=='password')
			t.css({'box-shadow':'0px 0px 3px #1583fb','border':'1px solid #1583fb'});
		if(t.val()==t.attr('placeholder'))
			t.val('');
	});
	$('input').blur(function(){
		var t=$(this);
		if(t.attr('type')=='text'||t.attr('type')=='password')
			t.css({'box-shadow':'none','border':'1px solid #e1e1e1'});
		if(t.attr('type')!='password'&&!t.val())
			t.val(t.attr('placeholder'));
	});
	$('.reg_input_box input').each(function(i,d){
		$(d).focus(function(){
			var oRegMsg=$('#'+$(this).attr('id')+'-msg');
			oRegMsg.attr('class')=='form_explain_error'?oRegMsg.attr('class','form_explain').html(oRegMsg.attr('data-explain')).show():oRegMsg.show();
		})
		$(d).blur(function(){
			var oRegMsg=$('#'+$(this).attr('id')+'-msg');
			$(this).parent().find('.form_explain').hide();
		})
	})
	var mbTest_username=/^(?![^a-zA-Z]+$)(?!\D+$).{5,15}$/;
	var mbTest_password=/^[a-zA-Z0-9_]{5,15}$/;
	//输入框消息
	function formMsg(o, status, msg){
		$('#'+o+'-msg').attr('class', 'form_explain_'+(status?'pass':'error')).html((typeof msg == 'undefined'? '': msg)+'<em></em>').show();
		return true;
	}


	function Update(){
		var truename=$("#regtruename").val();
		var idcard=$("#regidcard").val();

		
		if(truename==""||truename==null){
			formMsg('regtruename', 0, lange.LOGIN_REGISTER3_1);
			return false;
		}
		if(idcard==""||idcard==null){
			formMsg('regidcard', 0, lange.LOGIN_REGISTER3_2);
			return false;
		}


		$.post("{:U('Login/upregister3')}",{truename:truename,idcard:idcard},function(data){
			if(data.status==1){
				layer.msg(data.info,{icon:1,time:2000},function(){
                    window.location='/Login/register4';
				});
			}else{
				layer.msg(data.info,{icon:2,time:2000},function(){
                    if(data.url){
                        window.location=data.url;
                    }
				});
			}
		},"json");
	}
	

	
	
</script>


<include file="Public:footer" />