<include file="Public:header" />

<div class="content">
    <div class="window-wrap w1500 tc">
        <div class="introduce-box">
            <h3 class="introduce-title">主区-区块链资产交易分区说明</h3>
            <p class="introduce-info">主区经过市场充分验证和认可，全球流动性较好、风险较小的主流区块链资产。这类资产，一般面世6个月以上，国际国内主流交易平台有不错的表现，交易量大，流通性好，一般长线持有、收益稳定，适合稳健型投资者。</p>
            <div class="introduce-img clearfix">
                <div class="pull-left page-w50">
                    <h4 class="introduce-title2">
                        <p class="introduce-main1">交易品种</p>
                    </h4>
                    <p class="introduce-info">经过市场充分验证和认可</p>
                    <p class="introduce-info">全球流动性较好、风险较小的主流区块链资产。</p>
                </div>
                <div class="page-w50-bol"></div>
                <div class="pull-right page-w50">
                    <h4 class="introduce-title2">
                        <p class="introduce-main2">计价方式</p>
                    </h4>
                    <p class="introduce-info">主区的交易品种</p>
                    <p class="introduce-info">我们目前会使用CNYT和BTC来计价。</p>
                </div>
            </div>
            <div>
                <h4 class="introduce-title3">笔加索交易平台主区风险提示</h4>
                <p class="introduce-info">投资于主区区块链资产的投资者，需要了解笔加索《用户协议》中提示的各类风险，充分认识到主区数字货币的投资风险，审慎作出投资决策，并自行承担由上述风险而带来的责任和损失。笔加索为保护广大投资者的利益，对区块链资产交易进行了品种始终保持开放而谨慎的态度。不同的区块链资产，会有不同的交易风险，合适不同的交易人群。我们在大量积累的评估数据基础上，会对在笔加索上交易的资产进行分区，以提示投资者不同资产的交易风险和交易性质。</p>
            </div>
        </div>
    </div>
</div>

<include file="Public:footer" />