<include file="Public:header" />

<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />

		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title pull-left">
						C2C交易记录
					</h3>
				</div>
				<div class="c2c-order">
					<div class="c2c-order-table">
						<table class="c2c-table">
							<thead>
							<tr>
								<th>{$Think.Lang.V_FINANCE_MYCZ_BILL_ID}</th>
								<th>{$Think.Lang.V_FINANCE_MYCZ_BILL_TYPE}</th>
								<th>{$Think.Lang.V_FINANCE_MYCZ_BILL_NUM}</th>
								<th>{$Think.Lang.V_FINANCE_MYCZ_BILL_AMOUNT}</th>
								<th>{$Think.Lang.V_FINANCE_MYCZ_BILL_CREATETIME}</th>
								<th>{$Think.Lang.V_FINANCE_MYCZ_BILL_STATUS}</th>
							</tr>
							</thead>
							<tbody>

							<volist name="list" id="vo">
								<tr>
									<td><span <eq name="vo.tpl" value="买入">class="open-order-btn"</eq> >{$vo.cid}</span></td>
									<td>{$vo.tpl}</td>
									<td>{$vo.num}</td>
									<td>{$vo.pri}</td>
									<td>{$vo.uptime|date='Y-m-d H:i:s',###}</td>
									<td>
										<eq name="vo.tpl" value="买入">
											<eq name="vo.status" value="1">
												{$Think.Lang.V_FINANCE_MYCZ_BILL_PAY_WAIT}<a  href="javascript:;" onclick="complete('{$vo.cid}')"> <span class="cb94e50">{$Think.Lang.V_FINANCE_MYCZ_BILL_PAY_COMPLETE}</span> </a>
											</eq>
											<eq name="vo.status" value="2">
												{$Think.Lang.V_FINANCE_MYCZ_BILL_SELLER_WAIT}
											</eq>
										</eq>
										<eq name="vo.tpl" value="卖出">
											<eq name="vo.status" value="1">
												{$Think.Lang.V_FINANCE_MYCZ_BILL_PAY_WAIT}<a  href="javascript:;" onclick="complete('{$vo.cid}')" style="    color: #2674FF!important;"> <span class="cb94e50">{$Think.Lang.V_FINANCE_MYCZ_BILL_SELLER_COMPLETE}</span> </a>
											</eq>
											<eq name="vo.status" value="2">
												{$Think.Lang.V_FINANCE_MYCZ_BILL_PAY_OVER} <a  href="javascript:;" onclick="complete('{$vo.cid}')"> <span class="c00ffff">{$Think.Lang.V_FINANCE_MYCZ_BILL_SELLER_COMPLETE} </span></a>
											</eq>
										</eq>
										<eq name="vo.status" value="99">
											<span class="c00ffff">{$Think.Lang.V_FINANCE_MYCZ_BILL_TRADE_SUCCESS}</span>
										</eq>
										<eq name="vo.status" value="0">
											<span class="c414755">{$Think.Lang.V_FINANCE_MYCZ_BILL_TRADE_CHANCEL}</span>
										</eq>
										<eq name="vo.pp" value="1">
											<eq name="vo.tpl" value="买入">
												<a href="javascript:;" onclick="cancel('{$vo.cid}')"><span class="c414755">{$Think.Lang.V_FINANCE_MYCZ_BILL_CHANCEL}</span></a>
											</eq>
										</eq>
									</td>
								</tr>

								<eq name="vo.tpl" value="买入">
									<!-- 占位 -->
									<tr class="hide">
										<td colspan="6"></td>
									</tr>
									<tr class="order-detail-list hide">
										<td colspan="6">
											<div class="order-detail-box tl">
												<h3>{$Think.Lang.V_FINANCE_MYCZ_BILL_CHOOSE_PAY_TYPE}</h3>
												<ul class="order-detail-box-list clearfix">
													<eq name="vo.kaihu" value="支付宝">
														<li>
															<div class="order-detail-box-item order-detail-pay-zfb">
																<h4 class="order-detail-head">{$Think.Lang.V_FINANCE_BANK_ALI_PAY}</h4>
																<div class="order-detail-cont">
																	<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_SELLERNAME}<span class="order-detail-txt">{$vo.truename}</span>   <span class="copy-btn" data-clipboard-text="{$vo.truename}">{$Think.Lang.V_ALL_COPY}</span></p>
																	<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_ALIACCOUNT}<span class="order-detail-txt">{$vo.username}</span>  <span class="copy-btn" data-clipboard-text="{$vo.username}">{$Think.Lang.V_ALL_COPY}</span></p>
																	<p>{$Think.Lang.V_FINANCE_MYCZ_PAY_AMOUNT}<span class="order-detail-txt">{$vo.pri}</span>  <span class="copy-btn" data-clipboard-text="{$vo.pri}">{$Think.Lang.V_ALL_COPY}</span></p>
																	<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_CONTACT}<span class="order-detail-txt">{$vo.min}</span>  <span class="copy-btn" data-clipboard-text="{$vo.min}">{$Think.Lang.V_ALL_COPY}</span></p>
																	<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_ID2}<span class="order-detail-txt">{$vo.cid}</span>  <span class="copy-btn" data-clipboard-text="{$vo.cid}">{$Think.Lang.V_ALL_COPY}</span></p>
																	<p>{$Think.Lang.V_FINANCE_MYCZ_CHECK_SELLER_INFO}</p>
																	<p></p>
																	<p><a href="#">{$Think.Lang.V_FINANCE_MYCZ_SELLER_QR}  &gt;</a></p>
																	<div class="order-detail-qrcode order-detail-qrcode-zfb" data-img="/Upload/public/{$vo.img}"></div>
																</div>
															</div>
															<if condition="($vo['status'] eq 99) OR ($vo['status'] eq 0) ">
																<div class="order-detail-warning">
																	<h4>{$Think.Lang.V_FINANCE_MYCZ_ORDER_CLOSE}</h4>
																	<p>{$Think.Lang.V_FINANCE_MYCZ_ORDER_TIP}</p>
																	<p><a href="#" class="order-detail-warning-close">{$Think.Lang.V_FINANCE_MYCZ_ORDER_I_KNOW}</a></p>
																</div>
															</if>
														</li>
														<else/>
														<eq name="vo.kaihu" value="微信">
															<li>
																<div class="order-detail-box-item order-detail-pay-wx">
																	<h4 class="order-detail-head">{$Think.Lang.V_FINANCE_BANK_WECHAT_PAY}</h4>
																	<div class="order-detail-cont">
																		<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_SELLERNAME}<span class="order-detail-txt">{$vo.truename}</span>   <span class="copy-btn" data-clipboard-text="{$vo.truename}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_WECHATACCOUNT}<span class="order-detail-txt">{$vo.username}</span>  <span class="copy-btn" data-clipboard-text="{$vo.username}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_PAY_AMOUNT}<span class="order-detail-txt">{$vo.pri}</span>  <span class="copy-btn" data-clipboard-text="{$vo.pri}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_CONTACT}<span class="order-detail-txt">{$vo.min}</span>  <span class="copy-btn" data-clipboard-text="{$vo.min}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_ID2}：<span class="order-detail-txt">{$vo.cid}</span>  <span class="copy-btn" data-clipboard-text="{$vo.cid}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_CHECK_SELLER_INFO}</p>
																		<p></p>
																		<p><a href="#">{$Think.Lang.V_FINANCE_MYCZ_SELLER_QR} &gt;</a></p>
																		<div class="order-detail-qrcode order-detail-qrcode-wx" data-img="/Upload/public/{$vo.img}"></div>
																	</div>
																</div>
																<if condition="($vo['status'] eq 99) OR ($vo['status'] eq 0) ">
																	<div class="order-detail-warning">
																		<h4>{$Think.Lang.V_FINANCE_MYCZ_ORDER_CLOSE}</h4>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_ORDER_TIP}</p>
																		<p><a href="#" class="order-detail-warning-close">{$Think.Lang.V_FINANCE_MYCZ_ORDER_I_KNOW}</a></p>
																	</div>
																</if>
															</li>
															<else/>
															<li>
																<div class="order-detail-box-item order-detail-pay-card">
																	<h4 class="order-detail-head">{$Think.Lang.V_FINANCE_MYCZ_BILL_BANKPAY}</h4>
																	<div class="order-detail-cont">
																		<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_SELLERNAME}<span class="order-detail-txt">{$vo.truename}</span>   <span class="copy-btn" data-clipboard-text="{$vo.truename}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_BANK_NAME}<span class="order-detail-txt">{$vo.kaihu}</span>  <span class="copy-btn" data-clipboard-text="{$vo.kaihu}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_BANK_NO}<span class="order-detail-txt">{$vo.username}</span>  <span class="copy-btn" data-clipboard-text="{$vo.username}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_PAY_AMOUNT}<span class="order-detail-txt">{$vo.pri}</span>  <span class="copy-btn" data-clipboard-text="{$vo.pri}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_BILL_CONTACT}<span class="order-detail-txt">{$vo.min}</span>  <span class="copy-btn" data-clipboard-text="{$vo.min}">{$Think.Lang.V_ALL_COPY}</span></p>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_REMARK}<span class="order-detail-txt">{$vo.cid}</span>  <span class="copy-btn" data-clipboard-text="{$vo.cid}">{$Think.Lang.V_ALL_COPY}</span></p>
																	</div>
																</div>

																<if condition="($vo['status'] eq 99) OR ($vo['status'] eq 0) ">
																	<div class="order-detail-warning">
																		<h4>{$Think.Lang.V_FINANCE_MYCZ_ORDER_CLOSE}</h4>
																		<p>{$Think.Lang.V_FINANCE_MYCZ_ORDER_TIP}</p>
																		<p><a href="#" class="order-detail-warning-close">{$Think.Lang.V_FINANCE_MYCZ_ORDER_I_KNOW}</a></p>
																	</div>
																</if>
															</li>
														</eq>
													</eq>
												</ul>
												<p>{$Think.Lang.V_FINANCE_MYCZ_ORDER_WARN}</p>
											</div>
										</td>
									</tr>
								</eq>
							</volist>
							</tbody>
						</table>
						<div class="pages">{$page}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="__PUBLIC__/v2/js/clipboard.min.js"></script>
<script type="text/javascript">
    $('.select2').select2({
        minimumResultsForSearch: -1
    });
    $('.c2c-menu-left').on('click','.c2c-menu-unit h3',function(e){
        e.preventDefault();
        e.stopPropagation();
        $(this).closest('.c2c-menu-unit').toggleClass('close-list');
    });

jQuery(document).ready(function($){
	$('.copys').click(function() {
		var tits = $(this).html();
		var input = document.getElementById("copys");
			input.value = tits ; // 修改文本框的内容
		  input.select(); // 选中文本
		  document.execCommand("copy"); // 执行浏览器复制命令
			layer.msg(lange.FINANCE_MYCZ_ACCOUNT+tits+lange.FINANCE_MYCZ_COPY_SUCCESS, {icon: 1});
	});
});

    function cancel(id){
        layer.confirm('', {
            btn: [lange.ALL_OK, lange.ALL_CANCEL] //可以无限个按钮
            ,btnAlign: 'c'
            ,maxWidth: 280
            ,title: lange.ALL_CANCEL_CONFIRM
            ,btn1: function(index, layero){
                layer.close(index);
                lock = 1;
                $.post("/Finance/mycz_del/id/"+id, {}, function (data) {
                    lock = 0;
                    if (data.status == 1) {
                        layer.msg(data.info, {icon: 1});
                        window.setTimeout("refreshPage()",1000);
                    } else {
                        layer.msg(data.info, {icon: 2});
                    }
                }, "json");
            }
        });
    }

    function complete(id){
        layer.confirm('', {
            btn: [lange.ALL_OK, lange.ALL_CANCEL] //可以无限个按钮
            ,btnAlign: 'c'
            ,maxWidth: 280
            ,title: lange.ALL_PAY_CONFIRM
            ,btn1: function(index, layero){
                layer.close(index);
                lock = 1;
                $.post("/Finance/mycz_q/id/"+id, {}, function (data) {
                    lock = 0;
                    if (data.status == 1) {
                        layer.msg(data.info, {icon: 1});
                        window.setTimeout("refreshPage()",1000);
                    } else {
                        layer.msg(data.info, {icon: 2});
                    }
                }, "json");
            }
        });
    }
	function refreshPage(){
		window.location = "/Finance/mycz.html";
	}
    $(function () {
        home.initC2c();
    })
</script>
<include file="Public:footer" />