<include file="Public:header" />

<div class="content">
    <div class="clearfix window-wrap w1500 c2c-page">
        <include file="User:left" />
        <div class="c2c-page-right pull-right">
            <div class="c2c-cont">
                <div class="c2c-cont-head clearfix">
                    <h3 class="c2c-cont-head-title pull-left">
                        {$Think.Lang.V_FINANCE_COMMISSION_TITLE}
                    </h3>
                </div>
                <div class="c2c-order">
                    <div class="c2c-order-table">
                        <table class="c2c-table" id="investLog_content">
                            <thead>
                            <tr>
                                <th style="width: 0.2rem">
                                    <img src="__UPLOAD__/coin/{$coin_list[$market_list[$market]['xnb']]['img']}" alt="" class="icon-bi"  style="width: 0.2rem;"/>
                                </th>
                                <th>
                                    <select name="market-selectTest" id="market-selectTest" class="select1 vhide">
                                        <option value="">{$Think.Lang.V_FINANCE_COMMISSION_ALL}</option>
                                    <volist name="market_list" id="vo"> <eq name="market" value="$key">
                                        <option value="{$vo['name']}t" selected="selected">{$coin_list[$vo['xnb']]['title']}({$vo['xnb']|strtoupper}/{$vo['rmb']|strtoupper}T)</option>
                                        <else />
                                        <option value="{$vo['name']}t">{$coin_list[$vo['xnb']]['title']}({$vo['xnb']|strtoupper}/{$vo['rmb']|strtoupper}T)</option>
                                    </eq> </volist>
                                </select></th>
                                <th>{$Think.Lang.V_FINANCE_COMMISSION_TIME}</th>
                                <th><select name="type-selectTest" id="type-selectTest" class="select3 vhide">
                                    <option value="0"<eq name="type" value="0">selected</eq>>{$Think.Lang.V_FINANCE_COMMISSION_ALL}
                                    </option>
                                    <option value="1"<eq name="type" value="1">selected</eq>>{$Think.Lang.V_FINANCE_COMMISSION_BUY}
                                    </option>
                                    <option value="2"<eq name="type" value="2">selected</eq>>{$Think.Lang.V_FINANCE_COMMISSION_SHELL}
                                    </option>
                                </select></th>
                                <th>{$Think.Lang.V_FINANCE_COMMISSION_PRICE}</th>
                                <th>{$Think.Lang.V_FINANCE_COMMISSION_NUM}</th>
                                <th>{$Think.Lang.V_FINANCE_COMMISSION_NUM_COMPLETE}</th>
                                <th>
                                    <select name="status-selectTest" id="status-selectTest" class="select4 vhide">
                                        <option value="0"<eq name="status" value="0">selected</eq>>{$Think.Lang.V_FINANCE_COMMISSION_ALL}
                                        </option>
                                        <option value="1"<eq name="status" value="1">selected</eq>>{$Think.Lang.V_FINANCE_COMMISSION_TRAN}
                                        </option>
                                        <option value="2"<eq name="status" value="2">selected</eq>>{$Think.Lang.V_FINANCE_COMMISSION_COMPLETE}
                                        </option>
                                        <option value="3"<eq name="status" value="3">selected</eq>>{$Think.Lang.V_FINANCE_COMMISSION_CANCEL}
                                        </option>
                                    </select>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="vo">
                                <tr>
                                    <td colspan="2">{$coin_list[$market_list[$vo['market']]['xnb']]['title']} ({$market_list[$vo['market']]['xnb']|strtoupper}/{$market_list[$vo['market']]['rmb']|strtoupper}T)</td>
                                    <td>{$vo.addtime|date='m-d H:i:s',###}</td>
                                    <td><eq name="vo.type" value="1"> <font class="buy">{$Think.Lang.V_FINANCE_COMMISSION_BUY}</font> <else /> <font class="sell">{$Think.Lang.V_FINANCE_COMMISSION_SHELL}</font></eq></td>
                                    <td>{$vo['price']|NumToStr}</td>
                                    <td>{$vo['num']|NumToStr}</td>
                                    <td>{$vo['deal']|NumToStr}</td>
                                    <td><eq name="vo.status" value="0"><span class="cb94e50">{$Think.Lang.V_FINANCE_COMMISSION_TRAN}</span> | <a class="cancel" id="{$vo.id}" href="javascript:void(0);">{$Think.Lang.V_FINANCE_COMMISSION_DO_CANCEL}</a></eq> <eq name="vo.status" value="1"><span class="c00ffff">{$Think.Lang.V_FINANCE_COMMISSION_COMPLETE}</span></eq> <eq name="vo.status" value="2">{$Think.Lang.V_FINANCE_COMMISSION_CANCEL}</eq></td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="pages">{$page}</div>
                    </div>
                </div>
                <div>
                    <notempty name="prompt_text">
                        <div class="mytips">
                            <h6 style="color: #ff8000;">{$Think.Lang.V_SHARE_WARN}</h6>
                            {$prompt_text}
                        </div>
                    </notempty>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.select1').select2({
        minimumResultsForSearch: -1,
        dropdownAutoWidth: true
    });
    $('.select3').select2({
        minimumResultsForSearch: -1,
        dropdownAutoWidth: true
    });
    $('.select4').select2({
        minimumResultsForSearch: -1,
        dropdownAutoWidth: true
    });
	$("#type-selectTest,#status-selectTest,#market-selectTest").change(function(){
		var type=$("#type-selectTest option:selected").val();
		var status=$("#status-selectTest option:selected").val();
		var market=$("#market-selectTest option:selected").val();
		window.location='/Finance/mywt/type/'+type+'/status/'+status+'/market/'+market+'.html';
	});

	$('.cancel').click(function(){
		$.post("{:U('Trade/chexiao')}",{id : $(this).attr('id'), },function(data){
			if(data.status==1){
				layer.msg(data.info,{icon : 1 });
				window.setTimeout("window.location.reload()",1000);
			}else{
				layer.msg(data.info,{icon : 2 });
			}
		});
	});
</script>
<include file="Public:footer" />