<include file="Public:header" />

<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />
		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title">
						<p><img src="__UPLOAD__/coin/{$coin_list[$xnb]['img']}" alt="" class="icon-bi"/> {$Think.Lang.V_FINANCE_WITHDRAW}
							<select name="type" id="coin-select" class="select4 vhide" style="width:250px;">
							<volist name="coin_list" id="vo">
								<eq name="xnb" value="$key">
									<option data-img="/Upload/coin/{$vo['img']}" value="{$vo['name']}" selected="selected">{$vo.title} ({$vo['name']|strtoupper})</option>
									<else/>
									<option data-img="/Upload/coin/{$vo['img']}"  value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>
								</eq>
							</volist>
							</select>
						</p></h3>
				</div>
				<div class="clearfix">
					<div>
						<div class="tixian-form">
							<div class="default-form">
								<div class="form-item">
									<h5 class="form-label">{$Think.Lang.V_FINANCE_WITHDRAW_ADDRESS}</h5>
									<select id="cnyout_bank" class="select3 vhide">
										<option value="">{$Think.Lang.V_FINANCE_WITHDRAW_ADDRESS_CHOOSE}</option>
										<volist name="userQianbaoList" id="vo">
											<option value="{$vo.addr}" <eq name="vo['addr']" value="$addr">selected</eq>>{$vo.name}</option>
										</volist>
										<option value="tianjia" data-select-coin="{$coin_list[$xnb]['name']}">{$Think.Lang.V_FINANCE_WITHDRAW_ADDRESS_ADD}</option>
									</select>
									<!--<div class="clearfix">-->
										<!--<div class="pull-left" style="width: 75%; margin-right: -1px;">-->
											<!--<input class="form-input" type="text" name="name" placeholder="输入提币地址">-->
										<!--</div>-->
										<!--<div class="pull-left" style="width: 25%;">-->
											<!--<div class="select-100">-->
												<!---->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->

								</div>
								<div class="form-item">
									<h5 class="form-label">{$Think.Lang.V_FINANCE_WITHDRAW_NUM} <p class="pull-right form-item-msg">{$Think.Lang.V_FINANCE_CAN_USE_COUNT}<span class="cc6ccd8">{$user_coin[$xnb]|Num} </span>{$Think.Lang.V_FINANCE_CAN_USE_QUOTA}</p></h5>
									<input id="cnyout_num" class="form-input" type="text" name="name" maxlength="12"><span class="font12">{$Think.Lang.V_FINANCE_OUT_NUM_FEE1}{$coin_list[$xnb]['zc_fee']}{$Think.Lang.V_FINANCE_OUT_NUM_FEE2}{$coin_list[$xnb]['zc_min']}{$Think.Lang.V_FINANCE_OUT_NUM_FEE3}</span>
								</div>
								<div class="form-item">
									<h5 class="form-label">{$Think.Lang.V_FINANCE_OUT_SMS_1}{$moble}{$Think.Lang.V_FINANCE_OUT_SMS_2}</h5>
									<div class="input-group input-group-r">
										<input class="form-control" type="text" name="name" id="cnyout_moble_verify" placeholder="{$Think.Lang.V_FINANCE_OUT_SMS_TIP_INPUT}"><a onclick="send_moble_coinout('sms')" id="reg_moble_new" class="input-group-addon tc">{$Think.Lang.V_FINANCE_OUT_SMS_SEND}</a>
									</div>
								</div>
								<div class="form-item">
									<h5 class="form-label">{$Think.Lang.V_FINANCE_OUT_PAY_PASSWORD}</h5>
									<input type="password" class="form-input" id="cnyout_paypassword"  placeholder="{$Think.Lang.V_FINANCE_OUT_PAY_PASSWORD_TIP_INPUT}" value=""><span class="font12"><a href="/findpwd/findpwd">{$Think.Lang.V_FINANCE_OUT_PAY_PASSWORD_FORGET}?</a></span>
								</div>
								<!--<div class="form-item">-->
									<!--<h5 class="form-label">介绍</h5>-->
									<!--{$prompt_text}-->
								<!--</div>-->

								<div class="tc login-form-item clearfix">


									<empty name="zc_jz">
										<a class="default-form-submit" href="javascript:;"  onclick="coinout_up()">{$Think.Lang.V_FINANCE_OUT_COIN_OUT}</a>
										<else/>
										<a class="default-form-submit" href="javascript:;" >{$zc_jz}</a>
									</empty>
								</div>
							</div>
							<div class="tixian-form-info">
								<h4>{$Think.Lang.V_SHARE_WARN}</h4>
								<ul>
									<li>{$Think.Lang.V_FINANCE_OUT_TIPS_INFO1} {$coin_list[$xnb]['title']}。</li>
									<li>{$Think.Lang.V_FINANCE_OUT_TIPS_INFO2}</li>
									<li>{$Think.Lang.V_FINANCE_OUT_TIPS_INFO3}</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tixian-jilu-list">
						<h3 class="c2c-cont-head-title pull-left">
							{$Think.Lang.V_FINANCE_OUT_COIN_TITLE}
						</h3>
						<div class="c2c-order">
							<div class="c2c-order-table">
								<table class="c2c-table">
									<thead>
									<tr>
										<th>{$Think.Lang.V_FINANCE_OUT_LIST_TITLE1}</th>
										<th>{$Think.Lang.V_FINANCE_OUT_LIST_TITLE2}</th>
										<th>{$Think.Lang.V_FINANCE_OUT_LIST_TITLE3}</th>
										<th>{$Think.Lang.V_FINANCE_OUT_LIST_TITLE4}</th>
										<th>{$Think.Lang.V_FINANCE_OUT_LIST_TITLE5}</th>
										<th>{$Think.Lang.V_FINANCE_OUT_LIST_TITLE6}</th>
									</tr>
									</thead>
									<tbody>

									<volist name="list" id="vo">
										<tr>
											<td>{$vo.addtime|addtime}</td>
											<td>{$vo.coinname}</td>
											<td>{$vo['num']|NumToStr}</td>
											<td>{$vo['fee']|NumToStr}</td>
											<td>{$vo['mum']|NumToStr}</td>
											<td>
												<eq name="vo.status" value="1">
													<span class="c00ffff">{$Think.Lang.V_FINANCE_OUT_SUCCESS}</span>
													<else/>
													<span class="cb94e50">{$Think.Lang.V_FINANCE_OUT_CONFIRM} {$vo.status|abs} {$Think.Lang.V_FINANCE_OUT_CONFIRM2}</span>
												</eq>
											</td>
										</tr>
									</volist>
									</tbody>
								</table>
								<div class="pages">{$page}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript" src="__PUBLIC__/m/js/md5.js"></script>
<script>
    $(function(){
        function formatState(state){
			var img = $(state.element).data('img');
            if(img != undefined && img.length > 0){
                var $state = $(
                    '<span><img src="'+$(state.element).data('img')+'" class="img-flag" style="width:16px;float:left;margin-top: 1px;margin-right: 3px;" /> ' + state.text + '</span>'
                );
                return $state;
			}else{
                var $state = $(
                    '<span> ' + state.text + '</span>'
                );
                return $state;
			}

        }

        $(".select4").select2({
            minimumResultsForSearch: -1,
            templateResult: formatState
        });
        $('.select3').select2({
            minimumResultsForSearch: -1,
            dropdownAutoWidth: true
        });
    });

	$("#cnyout_bank").change(function () {
	    var selectObj = $("#cnyout_bank option:selected");
		var type = selectObj.val();
		if (type == 'tianjia') {
            $('#cnyout_bank option:first').prop('selected', 'selected');
			// window.location = "/finance/qianbao.html";
            window.location = "/user/qianbao?coin="+selectObj.attr('data-select-coin');
		}
	});
	$("#coin-select").change(function () {
		var coin = $("#coin-select option:selected").val();
		var url    = '/Finance/myzc';
		if (coin) {
			url += '/coin/' + coin + '.html';
		}
		window.location = url;
	});

	function send_moble_coinout(type) {
        if($('#reg_moble_new').html() != lange.FINANCE_OUT_SENDSMS){
            return;
        }

		$.post("{:U('Verify/myzc')}", {
			type: type,
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$(".step5").hide();
				$(".step6").show();
				$("#cnyout_moble_verify").focus();
				$('#moble_new').attr("disabled", "disabled");
				var obj      = $('#reg_moble_new');
				var wait     = 60;
				var interval = setInterval(function () {
					obj.html(wait + lange.FINANCE_OUT_SENDSMS2);
					wait--;
					if (wait < 0) {
						clearInterval(interval);
                        obj.html(lange.FINANCE_OUT_SENDSMS3);
					}
					;
				}, 1000);
			} else {
				layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
			}
		}, "json");
	}
	function coinout_up() {
		var num          = $("#cnyout_num").val();
		var paypassword  = $("#cnyout_paypassword").val();
		var moble_verify = $("#cnyout_moble_verify").val();
		var bank         = $('#cnyout_bank option:selected').val();
		var coin         = $('#coin-select option:selected').val();
		if (moble_verify == "" || moble_verify == null) {
			layer.msg(lange.FINANCE_OUT_CHECK1, {
				icon: 2
			});
			return false;
		}
		if (num == "" || num == null) {
			layer.tips(lange.FINANCE_OUT_CHECK2, '#cnyout_num', {
				tips: 2
			});
			return false;
		}
		if (bank == "" || bank == null) {
			layer.tips(lange.FINANCE_OUT_CHECK3, '#cnyout_bank', {
				tips: 2
			});
			return false;
		}
		if (paypassword == "" || paypassword == null) {
			layer.tips(lange.FINANCE_OUT_CHECK4, '#cnyout_paypassword', {
				tips: 2
			});
			return false;
		}
		if (coin == "" || coin == null) {
			layer.tips(lange.FINANCE_OUT_CHECK5, '#coin-select', {
				tips: 2
			});
			return false;
		}
        var lock = 0;
		var goole ="0";
		if(goole == 1){
			layer.ready(function () {
				layer.prompt({
					title: lange.FINANCE_OUT_CHECK6,
					formType: 1
				}, function (val) {
					if (val) {
						$.post("/finan/coinout_up", {
							coin:coin,
							num: num,
							paypassword: hex_md5(paypassword),
							moble_verify: moble_verify,
							bank: bank,
							goole:val,
						}, function (data) {
							if (data.status == 1) {
								layer.msg(data.info, {
									icon: 1,
									time:2000
								},function(){
                                    window.location = "/finan/coinoutlog.html";
								});
							} else {
								layer.msg(data.info, {
									icon: 2,
									time:2000
								},function(){
                                    if (data.url) {
                                        window.location = data.url;
                                    }
								});
							}
						}, "json");
					}
					;
				});
			});
		}else{
            if(lock){
                layer.msg(lange.FINANCE_OUT_LOADING);
                return;
            }
            lock = 1;
            layer.load();
			$.post("{:U('Finance/upmyzc')}", {
				coin:coin,
				num: num,
				paypassword: hex_md5(paypassword),
				moble_verify: moble_verify,
				addr: bank,
			}, function (data) {
                layer.alert(data.info,{closeBtn:''},function(index){
                    if (data.status == 1) {
                        //window.location = "/finance/coinoutlog.html";
                        window.location = "/finance/myzc.html";
                    } else {
                        //layer.msg(data.info, {icon: 2});
                        if (data.url) {
                            window.location = data.url;
                        }
                    }
                    layer.close(index);
                });
                layer.closeAll('loading');
			}, "json");
		}
	}
</script>

<include file="Public:footer" />