<include file="Public:header" />

<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />

		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title pull-left">
						{$Think.Lang.V_FINANCE_MYZR_LIST_1}
					</h3>
				</div>
				<div class="c2c-order">
					<div class="c2c-order-table">
						<table class="c2c-table">
							<thead>
							<tr>
								<th>{$Think.Lang.V_FINANCE_MYZR_8}</th>
								<th>{$Think.Lang.V_FINANCE_MYZR_9}</th>
								<th>{$Think.Lang.V_FINANCE_MYZR_10}</th>
								<th>{$Think.Lang.V_FINANCE_OUT_LIST_TITLE4}</th>
								<th>{$Think.Lang.V_FINANCE_MYZR_12}</th>
								<th>{$Think.Lang.V_FINANCE_MYZR_13}</th>
							</tr>
							</thead>
							<tbody>

							<volist name="list" id="vo">
								<tr>
									<td>{$vo.addtime|addtime}</td>
									<td>{$vo.coinname}</td>
									<td>{$vo['num']|NumToStr}</td>
									<td>{$vo['fee']|NumToStr}</td>
									<td>{$vo['mum']|NumToStr}</td>
									<td>
										<eq name="vo.status" value="1">
											<span class="c00ffff">{$Think.Lang.V_FINANCE_MYZR_14}</span>
											<else/>
											<span class="cb94e50">{$Think.Lang.V_FINANCE_MYZR_15}{$vo.status|abs}{$Think.Lang.V_FINANCE_MYZR_16}</span>
										</eq>
									</td>
								</tr>
							</volist>
							</tbody>
						</table>
						<div class="pages">{$page}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $('.select2').select2({
        minimumResultsForSearch: -1
    });
    $('.c2c-menu-left').on('click','.c2c-menu-unit h3',function(e){
        e.preventDefault();
        e.stopPropagation();
        $(this).closest('.c2c-menu-unit').toggleClass('close-list');
    });
</script>
<include file="Public:footer" />