<include file="Public:header" />

<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />

		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title">
					<p><img src="__UPLOAD__/coin/{$coin_list[$xnb]['img']}" alt="" class="icon-bi"/> {$Think.Lang.V_FINANCE_MYZR_1}
						<select name="type" id="coin-select" class="select2 vhide" style="width:250px;">
							<volist name="coin_list" id="vo">
								<eq name="xnb" value="$key">
									<option data-img="/Upload/coin/{$vo['img']}" value="{$vo['name']}" selected="selected">{$vo.title} ({$vo['name']|strtoupper})</option>
									<else/>
									<option data-img="/Upload/coin/{$vo['img']}"  value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>
								</eq>
							</volist>
						</select>
					</p></h3>
				</div>
				<div class="clearfix">
					<div>
						<div class="tixian-form">
							<div class="default-form">
								<div class="form-item">
									<h5 class="form-label">{$Think.Lang.V_FINANCE_MYZR_2}</h5>
									<input class="form-input" type="text" value="{$coin_list[$xnb]['title']}" name="name" placeholder="{$Think.Lang.V_FINANCE_MYZR_2_2}">
								</div>
								<div class="form-item">
									<h5 class="form-label">{$Think.Lang.V_FINANCE_MYZR_3}{$coin_list[$xnb]['zr_zs']}%</h5>
									<input class="form-input" type="text" value="{$qianbao}" readonly name="name" placeholder="{$Think.Lang.V_FINANCE_MYZR_2_2}">

								</div>
							</div>
							<div class="tixian-form-info">
								<h4>{$Think.Lang.V_FINANCE_MYZR_4}</h4>
								<ul>
									<li>{$Think.Lang.V_FINANCE_MYZR_5}</li>
									<li>{$Think.Lang.V_FINANCE_MYZR_6}</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tixian-jilu-list">
						<h3 class="c2c-cont-head-title">
							{$Think.Lang.V_FINANCE_MYZR_7}
						</h3>
						<table class="c2c-table">
							<thead>
							<tr>
								<th style="width: 15%;">{$Think.Lang.V_FINANCE_MYZR_8}</th>
								<th style="width: 30%;">{$Think.Lang.V_FINANCE_MYZR_9}</th>
								<th style="width: 14%;">{$Think.Lang.V_FINANCE_MYZR_10}</th>
								<th style="width: 26%;">{$Think.Lang.V_FINANCE_MYZR_11}</th>
								<th style="width: 15%;">{$Think.Lang.V_FINANCE_MYZR_12}</th>
								<th style="width: 15%;">{$Think.Lang.V_FINANCE_MYZR_13}</th>
							</tr>
							</thead>
							<tbody>
							<volist name="list" id="vo">
								<tr>
									<td>{$vo.addtime|addtime}</td>
									<td>{$vo.coinname}</td>
									<td>{$vo['num']|NumToStr}</td>
									<td>{$vo['fee']|NumToStr}</td>
									<td>{$vo['mum']|NumToStr}</td>
									<td>
										<eq name="vo.status" value="1">
											{$Think.Lang.V_FINANCE_MYZR_14}
											<else/>
											{$Think.Lang.V_FINANCE_MYZR_15}{$vo.status|abs}{$Think.Lang.V_FINANCE_MYZR_16}
										</eq>
									</td>
								</tr>
							</volist>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/Public/v2/js/select2.min.js"></script>
<link href="/Public/v2/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript">
	$(function(){
        function formatState(state){
            //console.log(state.element)
            var img = $(state.element).data('img');
            if(img != undefined && img.length > 0){
                var $state = $(
                    '<span><img src="'+$(state.element).data('img')+'" class="img-flag" style="width:16px;float:left;margin-top: 1px;margin-right: 3px;" /> ' + state.text + '</span>'
                );
                return $state;
            }else{
                var $state = $(
                    '<span> ' + state.text + '</span>'
                );
                return $state;
            }

        }

        $(".select2").select2({
            minimumResultsForSearch: -1,
            templateResult: formatState
        });
	});

    $("#coin-select").change(function () {
        var coin = $("#coin-select option:selected").val();
        var url    = '/Finance/myzr';
        if (coin) {
            url += '/coin/' + coin + '.html';
        }
        window.location = url;
    });
</script>
<include file="Public:footer" />