<include file="Public:header" />

<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />

		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title pull-left">
						{$Think.Lang.V_FINANCE_ZCDB_1}
						<!--<h3 class="c2c-cont-head-title pull-left">-->

						<!--</h3>-->
					<!--<p><img src="__UPLOAD__/coin/{$coin_list[$xnb]['img']}" alt="" class="icon-bi"/> 转入-->
						<!--<select name="type" id="coin-select" class="select2 vhide" style="width:250px;">-->
							<!--<volist name="coin_list" id="vo">-->
								<!--<eq name="xnb" value="$key">-->
									<!--<option data-img="/Upload/coin/{$vo['img']}" value="{$vo['name']}" selected="selected">{$vo.title} ({$vo['name']|strtoupper})</option>-->
									<!--<else/>-->
									<!--<option data-img="/Upload/coin/{$vo['img']}"  value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>-->
								<!--</eq>-->
							<!--</volist>-->
						<!--</select>-->
					<!--</p>-->
						<label class="c2c-off-open">
							<input type="checkbox" name="name[]" value="0" class="hide" disabled="disabled">
							<span class="pull-right fontnormal">{$Think.Lang.V_FINANCE_ZCDB_1}</span>
						</label>
					</h3>

				</div>
				<div class="clearfix">
					<div>
						<div class="tixian-form">
							<div class="default-form">
								<div class="form-item">
									<div class="padt10"></div>
									<div class="weikaitong-box">
										<ul class="flex-box align-top font14 text-nowrap">
											<li class="flex-item-2">
												<div class="tl">{$Think.Lang.V_FINANCE_ZCDB_2}<span>{$zcdb_set.currency|strtoupper}<span class="font12">({$Think.Lang.V_FINANCE_ZCDB_3}{$zcdb_set.currency}：{$currency_lock_num})</span></span></div>
											</li>
											<li class="flex-item-2">
												<div class="tl">{$Think.Lang.V_FINANCE_ZCDB_4}
													<div class="select-100 suocang-item select-h32">
														<select id="choose-pay" class="form-input new-form-input vhide select3" name="pay">
															<volist name="zcdb_set.list" id="vo">
																<option rate="{$vo.proportion}" value="{$vo.length_day}">{$vo.length_day}{$Think.Lang.V_FINANCE_ZCDB_5}</option>
															</volist>
														</select>
													</div>
												</div>
											</li>
											<li class="flex-item-3">
												<div class="tl">{$Think.Lang.V_FINANCE_ZCDB_6}
													<input id="num"  type="text" placeholder="500或500的倍数" onkeyup="mykeyup(this)" class="form-input new-form-input suocang-item">
													<span id="profit" class="font12 hide"></span>
												</div>
											</li>
											<li class="tr">
												<button id="submit" class="default-form-submit new-form-submit dblb">{$Think.Lang.V_FINANCE_ZCDB_7}</button>
											</li>
										</ul>
										<eq name="is_activity" value="0">
											<div class="weikaitong-bg"></div>
										</eq>
									</div>
									<p class="p-line"></p>
								</div>
								<!--<div class="form-item">-->
									<!--<h5 class="form-label">钱包地址，转入即赠{$coin_list[$xnb]['zr_zs']}%</h5>-->
									<!--<input class="form-input" type="text" value="{$qianbao}" readonly name="name" placeholder="输入提币地址">-->

								<!--</div>-->
							</div>
							<div class="tixian-form-info">
								<h4>{$Think.Lang.V_FINANCE_ZCDB_8}</h4>
								<ul>
									<li>{$Think.Lang.V_FINANCE_ZCDB_9}</li>
									<li>{$Think.Lang.V_FINANCE_ZCDB_10}</li>
								</ul>
							</div>
						</div>
					</div>
					<eq name="is_activity" value="1">
					<div class="tixian-jilu-list">
						<h3 class="c2c-cont-head-title">
							{$Think.Lang.V_FINANCE_ZCDB_11}
						</h3>
						<table class="c2c-table">
							<thead>
							<tr>
								<th style="width: 10%;">{$Think.Lang.V_FINANCE_ZCDB_12}</th>
								<th style="width: 10%;">{$Think.Lang.V_FINANCE_ZCDB_13}</th>
								<th style="width: 10%;">{$Think.Lang.V_FINANCE_ZCDB_14}</th>
								<th style="width: 20%;">{$Think.Lang.V_FINANCE_ZCDB_15}</th>
								<th style="width: 15%;">{$Think.Lang.V_FINANCE_ZCDB_16}</th>
								<th style="width: 15%;">{$Think.Lang.V_FINANCE_ZCDB_17}</th>
								<th style="width: 10%;">{$Think.Lang.V_FINANCE_ZCDB_18}</th>
								<th style="width: 10%;">{$Think.Lang.V_FINANCE_ZCDB_19}</th>
							</tr>
							</thead>
							<tbody>
							<volist name="list" id="vo">
								<tr>
									<td>{$vo.currency_lock}</td>
									<td>{$vo['num_lock']|NumToStr}</td>
									<td>{$vo['length_day']}{$Think.Lang.V_FINANCE_ZCDB_5}</td>
									<td>{$vo['shouyi']}</td>
									<td>{$vo.start_time|addtime}</td>
									<td>{$vo.end_time|addtime}</td>
									<td>{$vo.status_text}</td>
									<td>
										<eq name="vo.status" value="1">
											<a class="apply" style="color: #00ffff"  href="{:U('Finance/apply_settle',array('id'=>$vo['id']))}">{$Think.Lang.V_FINANCE_ZCDB_20}</a>
										</eq>
									</td>
								</tr>
							</volist>
							</tbody>
						</table>
						<div class="pages">{$page}</div>

					</div>
					</eq>
					<eq name="is_activity" value="0">
						<div class="weikaitong-footer padt10 tc">
							<p class="padt10">{$Think.Lang.V_FINANCE_ZCDB_21}</p>
							<p class="padt10"><button class="default-form-submit default-form-blue weikaitong-form-submit">{$Think.Lang.V_FINANCE_ZCDB_22}</button></p>
						</div>
					</eq>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/Public/v2/js/select2.min.js"></script>
<link href="/Public/v2/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript">
	var currency_lock_new_price = {$currency_lock_new_price};
	var currency_profit_new_price = {$currency_profit_new_price};
	$(function(){
        $('#choose-pay').change(function(){

            var num = parseInt($('#num').val());
            if(num>0){
                if(num%500 !== 0){
                    $('#profit').html(lange.FINANCE_ZCDB_1);
                    $('#profit').removeClass('hide');
                    return;
				}
                var day = $('#choose-pay option:selected').val();
                var rate = $('#choose-pay option:selected').attr('rate')*1;
                var ETH = (num * currency_lock_new_price * rate / currency_profit_new_price).toFixed(4);
				$('#profit').html(lange.FINANCE_ZCDB_2 +rate*100+"%,≈"+ETH+"ETH");
                $('#profit').removeClass('hide');
			}else{
                $('#profit').addClass('hide');
			}
        })
        function formatState(state){
            //console.log(state.element)
            var img = $(state.element).data('img');
            if(img != undefined && img.length > 0){
                var $state = $(
                    '<span><img src="'+$(state.element).data('img')+'" class="img-flag" style="width:16px;float:left;margin-top: 1px;margin-right: 3px;" /> ' + state.text + '</span>'
                );
                return $state;
            }else{
                var $state = $(
                    '<span> ' + state.text + '</span>'
                );
                return $state;
            }

        }

        $(".select3").select2({
            minimumResultsForSearch: -1,
            templateResult: formatState
        });

        $("#submit").click(function(){
            var num = parseInt($('#num').val());
            var day = $('#choose-pay option:selected').val();
            if(!day){
                layer.msg(lange.FINANCE_ZCDB_3 , {icon: 2});
                return;
            }
            if(num<=0 || num%500!=0){
                layer.msg(lange.FINANCE_ZCDB_4, {icon: 2});
                return;
            }
            layer.confirm(lange.FINANCE_ZCDB_5 +day+lange.FINANCE_ZCDB_6 +num,
				{btn:[lange.FINANCE_ZCDB_7 ,lange.ALL_CANCEL],title:lange.ALL_CONFIRM},
				function(index){
					layer.close(index);
					$.post("{:U('Finance/zcdb_submit')}", {
						num:num,
						day:day
					}, function (data) {
						layer.closeAll('loading');
						trans_lock = 0;
						if (data.status == 1) {
							layer.msg(data.info, {icon: 1,time:600},function () {
								window.location = '/Finance/zcdb.html';
							});
						} else {
							layer.msg(data.info, {icon: 2});
						}
					}, 'json');
				},function(){
					return;
				}
            );
		})
	});

    function mykeyup(_this){
        var num = _this.value;
        if(num>0){
            if(num%500 !== 0){
                $('#profit').html(lange.FINANCE_ZCDB_1);
                $('#profit').removeClass('hide');
                return;
            }
            var day = $('#choose-pay option:selected').val();
            var rate = $('#choose-pay option:selected').attr('rate')*1;
            var ETH = (num * currency_lock_new_price * rate / currency_profit_new_price).toFixed(4);
            $('#profit').html(lange.FINANCE_ZCDB_2+rate*100+"%,≈"+ETH+"ETH");
            $('#profit').removeClass('hide');
        }else{
            $('#profit').addClass('hide');
		}
	}

    $("#coin-select").change(function () {
        var coin = $("#coin-select option:selected").val();
        var url    = '/Finance/myzr';
        if (coin) {
            url += '/coin/' + coin + '.html';
        }
        window.location = url;
    });

    $(document).on('click','.weikaitong-form-submit',function(){
        layer.confirm(lange.FINANCE_ZCDB_8,
            {btn:[lange.ALL_OK,lange.ALL_CANCEL],title:lange.ALL_CONFIRM},
            function(index){
                layer.close(index);
                $.post("{:U('Finance/open_activity')}", {
                    type:'lock'
                }, function (data) {
                    layer.closeAll('loading');
                    trans_lock = 0;
                    if (data.status == 1) {
                        layer.msg(data.info, {icon: 1,time:600},function () {
                            window.location = '/Finance/zcdb.html';
                        });
                    } else {
                        layer.msg(data.info, {icon: 2});
                    }
                }, 'json');
            },function(){
                return;
            }
        );

    });
</script>
<include file="Public:footer" />