<include file="Public:header" />

<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />

		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title pull-left">
						资产对标
						<!--<h3 class="c2c-cont-head-title pull-left">-->

						<!--</h3>-->
					<!--<p><img src="__UPLOAD__/coin/{$coin_list[$xnb]['img']}" alt="" class="icon-bi"/> 转入-->
						<!--<select name="type" id="coin-select" class="select2 vhide" style="width:250px;">-->
							<!--<volist name="coin_list" id="vo">-->
								<!--<eq name="xnb" value="$key">-->
									<!--<option data-img="/Upload/coin/{$vo['img']}" value="{$vo['name']}" selected="selected">{$vo.title} ({$vo['name']|strtoupper})</option>-->
									<!--<else/>-->
									<!--<option data-img="/Upload/coin/{$vo['img']}"  value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>-->
								<!--</eq>-->
							<!--</volist>-->
						<!--</select>-->
					<!--</p>-->
						<label class="c2c-off-open">
							<input type="checkbox" name="name[]" value="0" class="hide" disabled="disabled">
							<span class="pull-right fontnormal">资产对标</span>
						</label>
					</h3>

				</div>
				<div class="clearfix">
					<div>
						<div class="tixian-form">
							<div class="default-form">
								<div class="form-item">
									<div class="padt10"></div>
									<div class="weikaitong-box">
										<ul class="flex-box align-top font14 text-nowrap">
											<li class="flex-item-2">
												<div class="tl">锁仓币种：<span>{$zcdb_set.currency|strtoupper}<span class="font12">(可用{$zcdb_set.currency}：{$currency_lock_num})</span></span></div>
											</li>
											<li class="flex-item-2">
												<div class="tl">锁仓时长：
													<div class="select-100 suocang-item select-h32">
														<select id="choose-pay" class="form-input new-form-input vhide select3" name="pay">
															<volist name="zcdb_set.list" id="vo">
																<option rate="{$vo.proportion}" value="{$vo.length_day}">{$vo.length_day}天</option>
															</volist>
														</select>
													</div>
												</div>
											</li>
											<li class="flex-item-3">
												<div class="tl">锁仓数量：
													<input id="num"  type="text" placeholder="500或500的倍数" onkeyup="mykeyup(this)" class="form-input new-form-input suocang-item">
													<span id="profit" class="font12 hide"></span>
												</div>
											</li>
											<li class="tr">
												<button id="submit" class="default-form-submit new-form-submit dblb">确定</button>
											</li>
										</ul>
										<eq name="is_activity" value="0">
											<div class="weikaitong-bg"></div>
										</eq>
									</div>
									<p class="p-line"></p>
								</div>
								<!--<div class="form-item">-->
									<!--<h5 class="form-label">钱包地址，转入即赠{$coin_list[$xnb]['zr_zs']}%</h5>-->
									<!--<input class="form-input" type="text" value="{$qianbao}" readonly name="name" placeholder="输入提币地址">-->

								<!--</div>-->
							</div>
							<div class="tixian-form-info">
								<h4>对标说明</h4>
								<ul>
									<li>为保障资金安全，当您账户安全策略变更、密码修改、使用新地址提币，我们会对提币进行人工审核，请耐心等待工作人员电话或邮件联系</li>
									<li>请务必确认电脑及浏览器安全，防止信息被篡改或泄露。</li>
								</ul>
							</div>
						</div>
					</div>
					<eq name="is_activity" value="1">
					<div class="tixian-jilu-list">
						<h3 class="c2c-cont-head-title">
							锁仓记录
						</h3>
						<table class="c2c-table">
							<thead>
							<tr>
								<th style="width: 10%;">对标币种</th>
								<th style="width: 10%;">对标数量</th>
								<th style="width: 10%;">对标时长</th>
								<th style="width: 20%;">对标收益</th>
								<th style="width: 15%;">开始时间</th>
								<th style="width: 15%;">结束时间</th>
								<th style="width: 10%;">状态</th>
								<th style="width: 10%;">操作</th>
							</tr>
							</thead>
							<tbody>
							<volist name="list" id="vo">
								<tr>
									<td>{$vo.currency_lock}</td>
									<td>{$vo['num_lock']|NumToStr}</td>
									<td>{$vo['length_day']}天</td>
									<td>{$vo['shouyi']}</td>
									<td>{$vo.start_time|addtime}</td>
									<td>{$vo.end_time|addtime}</td>
									<td>{$vo.status_text}</td>
									<td>
										<eq name="vo.status" value="1">
											<a class="apply" style="color: #00ffff"  href="{:U('Finance/apply_settle',array('id'=>$vo['id']))}">申请结算</a>
										</eq>
									</td>
								</tr>
							</volist>
							</tbody>
						</table>
						<div class="pages">{$page}</div>

					</div>
					</eq>
					<eq name="is_activity" value="0">
						<div class="weikaitong-footer padt10 tc">
							<p class="padt10">您当前未开通资产对标，需要先开通才能操作。</p>
							<p class="padt10"><button class="default-form-submit default-form-blue weikaitong-form-submit">开通</button></p>
						</div>
					</eq>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/Public/v2/js/select2.min.js"></script>
<link href="/Public/v2/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript">
	var currency_lock_new_price = {$currency_lock_new_price};
	var currency_profit_new_price = {$currency_profit_new_price};
	$(function(){
        $('#choose-pay').change(function(){

            var num = parseInt($('#num').val());
            if(num>0){
                if(num%500 !== 0){
                    $('#profit').html('请输入500或500倍数');
                    $('#profit').removeClass('hide');
                    return;
				}
                var day = $('#choose-pay option:selected').val();
                var rate = $('#choose-pay option:selected').attr('rate')*1;
                var ETH = (num * currency_lock_new_price * rate / currency_profit_new_price).toFixed(4);
				$('#profit').html('收益'+rate*100+"%,≈"+ETH+"ETH");
                $('#profit').removeClass('hide');
			}else{
                $('#profit').addClass('hide');
			}
        })
        function formatState(state){
            //console.log(state.element)
            var img = $(state.element).data('img');
            if(img != undefined && img.length > 0){
                var $state = $(
                    '<span><img src="'+$(state.element).data('img')+'" class="img-flag" style="width:16px;float:left;margin-top: 1px;margin-right: 3px;" /> ' + state.text + '</span>'
                );
                return $state;
            }else{
                var $state = $(
                    '<span> ' + state.text + '</span>'
                );
                return $state;
            }

        }

        $(".select3").select2({
            minimumResultsForSearch: -1,
            templateResult: formatState
        });

        $("#submit").click(function(){
            var num = parseInt($('#num').val());
            var day = $('#choose-pay option:selected').val();
            if(!day){
                layer.msg('输入错误', {icon: 2});
                return;
            }
            if(num<=0 || num%500!=0){
                layer.msg('请输入500或500倍数的锁仓数量', {icon: 2});
                return;
            }
            layer.confirm('锁仓币种：CNUT<br>锁仓时长：'+day+'天<br>锁仓数量：'+num,
				{btn:['确定锁仓','取消'],title:'请确认'},
				function(index){
					layer.close(index);
					$.post("{:U('Finance/zcdb_submit')}", {
						num:num,
						day:day
					}, function (data) {
						layer.closeAll('loading');
						trans_lock = 0;
						if (data.status == 1) {
							layer.msg(data.info, {icon: 1,time:600},function () {
								window.location = '/Finance/zcdb.html';
							});
						} else {
							layer.msg(data.info, {icon: 2});
						}
					}, 'json');
				},function(){
					return;
				}
            );
		})
	});

    function mykeyup(_this){
        var num = _this.value;
        if(num>0){
            if(num%500 !== 0){
                $('#profit').html('请输入500或500倍数');
                $('#profit').removeClass('hide');
                return;
            }
            var day = $('#choose-pay option:selected').val();
            var rate = $('#choose-pay option:selected').attr('rate')*1;
            var ETH = (num * currency_lock_new_price * rate / currency_profit_new_price).toFixed(4);
            $('#profit').html('收益'+rate*100+"%,≈"+ETH+"ETH");
            $('#profit').removeClass('hide');
        }else{
            $('#profit').addClass('hide');
		}
	}

    $("#coin-select").change(function () {
        var coin = $("#coin-select option:selected").val();
        var url    = '/Finance/myzr';
        if (coin) {
            url += '/coin/' + coin + '.html';
        }
        window.location = url;
    });

    $(document).on('click','.weikaitong-form-submit',function(){
        layer.confirm('是否确认开通资产对标',
            {btn:['确认','取消'],title:'请确认'},
            function(index){
                layer.close(index);
                $.post("{:U('Finance/open_activity')}", {
                    type:'lock'
                }, function (data) {
                    layer.closeAll('loading');
                    trans_lock = 0;
                    if (data.status == 1) {
                        layer.msg(data.info, {icon: 1,time:600},function () {
                            window.location = '/Finance/zcdb.html';
                        });
                    } else {
                        layer.msg(data.info, {icon: 2});
                    }
                }, 'json');
            },function(){
                return;
            }
        );

    });
</script>
<include file="Public:footer" />