<div class="footer">
	<div class="content-unit bjs-aboutUs">
		<div class="bjs-aboutUs-cont">
			<div class="window-wrap w1500">
				<p>{$Think.Lang.V_FOOTER_TITLE}</p>
				<p class="link-list">
					<span><a class="link-tt" href="https://twitter.com/bjs24141112"></a></span>
					<span><a class="link-fb" href="https://www.facebook.com/suo.j.bi.1"></a></span>
					<span><a class="link-qq" href="javascript:;"><img src="__PUBLIC__/v2/images/ico2_1.jpg"></a></span>
					<span><a class="link-wb" href="http://weibo.com/btc2cc"></a></span>
					<span><a class="link-wx" href="javascript:;"><img src="__PUBLIC__/v2/images/ico2_1.jpg"></a></span>
				</p>
			</div>
		</div>
		<!--<div class="bjs-aboutUs-foot">-->
			<!--<div class="w840">-->
				<!--<ul class="clearfix">-->
					<!--<volist name="footerArticle['help']" id="vvo">-->
						<!--<li><a href="{:U('Article/type',array('id'=>$vvo['id']))}">{$vvo['title']}</a></li>-->
					<!--</volist>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
	</div>
	<div class="content-unit bjs-copyright">
		<div class="bjs-copyright-cont">{$Think.Lang.V_FOOTER_BOTTOM}<br/></div>
	</div>
</div>
</div>
<script type="text/javascript" src="__PUBLIC__/v2/js/canvas.js"></script>
<script type="text/javascript" src="__PUBLIC__/v2/js/index.js"></script>
<script>
    $(function(){
        loadMenu();
        $('.c2c-menu-left').on('click','.c2c-menu-unit h3',function(e){
            e.preventDefault();
            e.stopPropagation();
            $(this).closest('.c2c-menu-unit').toggleClass('close-list');
        });
    });
</script>
<script language="javascript" src="https://ala.zoosnet.net/JS/LsJS.aspx?siteid=ALA41091385&float=1&lng=cn"></script>
</body>
</html>