<include file="Public:header"/>
<include file="Public:banner"/>

<div class="content">
    <div class="content-unit bjs-tab">
        <div class="bjs-tab-head">
            <ul class="window-wrap w1500 clearfix flex-box">
                <li>
                    <a class="active" href="javascript:;"><span>{$Think.Lang.V_INDEX_CNYT}</span></a>
                </li>
                <li>
                    <a href="javascript:;"><span>{$Think.Lang.V_INDEX_USDT}</span></a>
                </li>
                <li>
                    <a href="javascript:;"><span>{$Think.Lang.V_INDEX_BTC}</span></a>
                </li>
                <li>
                    <a href="javascript:;"><span>{$Think.Lang.V_INDEX_ETH}</span></a>
                </li>
                <li>
                    <a href="javascript:;"><span>{$Think.Lang.V_INDEX_TIME_LIMIT}</span></a>
                </li>
                <li>
                    <a href="javascript:;" class="localStorage-star"><span>{$Think.Lang.V_INDEX_COIN_STAR}</span></a>
                </li>
            </ul>
        </div>
        <div class="bjs-search">
            <div class="window-wrap w1500 clearfix">
                <div class="bjs-tab-tr clearfix">

                    <div class="bjs-search-box pull-right">
                        <input type="text" name="keywords" placeholder="{$Think.Lang.V_INDEX_COIN_SEARCH}">
                    </div>
                </div>
            </div>
        </div>
        <div class="bjs-tab-cont">
            <div class="window-wrap w1500 clearfix">
                <div class="bjs-tab-table">
                    <div class="bjs-tab-thead">
                        <ul class="clearfix bjs-tab-tr">
                            <li><span class="curr-base">{$Think.Lang.V_INDEX_COIN_PAIR}<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span class="curr-base">{$Think.Lang.V_INDEX_COIN_PRICE}<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span class="curr-base">{$Think.Lang.V_INDEX_COIN_24_COUNT}<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span class="curr-base">{$Think.Lang.V_INDEX_COIN_24_COIN}<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span class="curr-base">{$Think.Lang.V_INDEX_UPSDOWNS}<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span>{$Think.Lang.V_INDEX_UPSDOWNS_3DAY}</span></li>
                            <li></li>
                            <li><span class="bjs-star star-cur"></span></li>
                        </ul>
                    </div>
                    <div class="bjs-tab-title"><span>{$Think.Lang.V_INDEX_MAIN_AREA}</span><a class="pull-right vote-title-link index-link-to-introduce" href="/Finance/introduce_main.html" target="_blank">{$Think.Lang.V_INDEX_MAIN_AREA_INTRODUCE}</a></div>
                    <div class="bjs-tab-tbody">
                        <volist name="lists" id="vo">
                            <eq name="vo.main_coin" value="1">
                            <ul class="clearfix bjs-tab-tr" data-id="{$vo.url}">
                                <li><a href="/trade/index/market/{$vo.url}"><span class="bjs-bi-icon"><img src="/Upload/coin/{$vo.img}"/>{$vo.title}</span></a></li>
                                <if condition="$vo['class'] eq 'red'">
                                    <li><span class="icon-arrow-down">￥{$vo.new_price|NumToStr}</span><span class="bjs-tab-price"> ≈ ${$vo.new_price|tousdt|NumToStr} </span><span class="icon-arrow-down">↓</span></li>
                                    <li>{$vo.volume}</li>
                                    <li>{$vo.volumes}</li>
                                    <li><span class="icon-arrow-down {$vo.class}">{$vo.change}%</span></li>
                                    <else />
                                    <li><span class="icon-arrow-up">￥{$vo.new_price|NumToStr}</span><span class="bjs-tab-price"> ≈ ${$vo.new_price|tousdt|NumToStr} </span><span class="icon-arrow-up">↑</span></li>
                                    <li>{$vo.volume}</li>
                                    <li>{$vo.volumes}</li>
                                    <li><span class="icon-arrow-up">{$vo.change}%</span></li>
                                </if>
                                <li><canvas width="200" height="40"></canvas></li>
                                <li><a class="bjs-tab-trading" href="/trade/index/market/{$vo.url}">{$Think.Lang.V_INDEX_TRANSACTION}</a>
                                    <a class="bjs-tab-trading" href="/trade/profession/market/{$vo.url}/profession.html">{$Think.Lang.V_INDEX_K_LINE}</a></li>
                                <li><span class="bjs-star star-cur"></span></li>
                            </ul>
                            </eq>
                        </volist>
                    </div>
                    <div class="bjs-tab-title"><span>{$Think.Lang.V_INDEX_NEW_AREA}</span><a class="pull-right vote-title-link index-link-to-introduce" href="/Finance/introduce_new.html" target="_blank">{$Think.Lang.V_INDEX_NEW_AREA_INTRODUCE}</a></div>
                    <div class="bjs-tab-tbody">
                        <volist name="lists" id="voo">
                            <eq name="voo.main_coin" value="0">
                                <ul class="clearfix bjs-tab-tr" data-id="{$voo.url}">
                                    <li><a href="/trade/index/market/{$voo.url}"><span class="bjs-bi-icon"><img src="/Upload/coin/{$voo.img}"/>{$voo.title}</span></a></li>
                                    <if condition="$voo['class'] eq 'red'">
                                        <li><span class="icon-arrow-down">￥{$voo.new_price|NumToStr}</span><span class="bjs-tab-price"> ≈ ${$voo.new_price|tousdt|NumToStr} </span><span class="icon-arrow-down">↓</span></li>
                                        <li>{$voo.volume}</li>
                                        <li>{$voo.volumes}</li>
                                        <li><span class="icon-arrow-down {$voo.class}">{$voo.change}%</span></li>
                                        <else />
                                        <li><span class="icon-arrow-up">￥{$voo.new_price|NumToStr}</span><span class="bjs-tab-price"> ≈ ${$voo.new_price|tousdt|NumToStr} </span><span class="icon-arrow-up">↑</span></li>
                                        <li>{$voo.volume}</li>
                                        <li>{$voo.volumes}</li>
                                        <li><span class="icon-arrow-up">{$voo.change}%</span></li>
                                    </if>
                                    <li><canvas width="200" height="40"></canvas></li>
                                    <li><a class="bjs-tab-trading" href="/trade/index/market/{$voo.url}">{$Think.Lang.V_INDEX_TRANSACTION}</a>
                                        <a class="bjs-tab-trading" href="/trade/profession/market/{$voo.url}/profession.html">{$Think.Lang.V_INDEX_K_LINE}</a></li>
                                    <li><span class="bjs-star star-cur"></span></li>
                                </ul>
                            </eq>
                        </volist>
                    </div>


                    <div class="bjs-tab-title"><span>{$Think.Lang.V_INDEX_EXPERIMENT_AREA}</span><a class="pull-right vote-title-link index-link-to-introduce" href="/Finance/introduce_experiment.html" target="_blank">{$Think.Lang.V_INDEX_EXPERIMENT_AREA_INTRODUCE}</a></div>
                    <div class="bjs-tab-tbody">
                        <volist name="lists" id="voo">
                            <eq name="voo.main_coin" value="2">
                                <ul class="clearfix bjs-tab-tr" data-id="{$voo.url}">
                                    <li><a href="/trade/index/market/{$voo.url}"><span class="bjs-bi-icon"><img src="/Upload/coin/{$voo.img}"/>{$voo.title}</span></a></li>
                                    <if condition="$voo['class'] eq 'red'">
                                        <li><span class="icon-arrow-down">￥{$voo.new_price|NumToStr}</span><span class="bjs-tab-price"> ≈ ${$voo.new_price|tousdt|NumToStr} </span><span class="icon-arrow-down">↓</span></li>
                                        <li>{$voo.volume}</li>
                                        <li>{$voo.volumes}</li>
                                        <li><span class="icon-arrow-down {$voo.class}">{$voo.change}%</span></li>
                                        <else />
                                        <li><span class="icon-arrow-up">￥{$voo.new_price|NumToStr|NumToStr}</span><span class="bjs-tab-price"> ≈ ${$voo.new_price|tousdt|NumToStr} </span><span class="icon-arrow-up">↑</span></li>
                                        <li>{$voo.volume}</li>
                                        <li>{$voo.volumes}</li>
                                        <li><span class="icon-arrow-up">{$voo.change}%</span></li>
                                    </if>
                                    <li><canvas width="200" height="40"></canvas></li>
                                    <li><a class="bjs-tab-trading" href="/trade/index/market/{$voo.url}">{$Think.Lang.V_INDEX_TRANSACTION}</a>
                                        <a class="bjs-tab-trading" href="/trade/profession/market/{$voo.url}/profession.html">{$Think.Lang.V_INDEX_K_LINE}</a></li>
                                    <li><span class="bjs-star star-cur"></span></li>
                                </ul>
                            </eq>
                        </volist>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-unit bjs-news">
        <h3 class="bjs-news-title"><span>{$Think.Lang.V_INDEX_NEW_MESSAGE}</span></h3>
        <div class="bjs-news-cont">
            <div class="window-wrap w1500 bjs-news-slide-box">
                <div class="bjs-news-slide">
                    <ul class="clearfix">
                        <volist name="hotlist" id="vo">
                            <li>
                                <a href="{:U('Article/detail','id='.$vo['id'])}">
                                    <h4>{$vo.title}...</h4>

                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>
                <span class="bjs-news-btn-left"></span>
                <span class="bjs-news-btn-right"></span>
            </div>
        </div>
    </div>
    <div class="content-unit bjs-logo">
        <div class="bjs-logo-head">
            <img src="__PUBLIC__/v2/images/bjs-1.jpg">
            <div class="bjs-logo-head-box">
                <a class="apple-btn" href="/Index/app/"></a>
                <a class="android-btn" href="/Index/app/"></a>
            </div>
        </div>
        <div class="bjs-logo-cont">
            <img src="__PUBLIC__/v2/images/bjs-2.jpg">
            <a class="join-btn" href="/Login/index.html">立即加入</a>
        </div>
    </div>
    <div class="content-unit bjs-features">
        <div class="bjs-features-cont">
            <div class="window-wrap w1500">
                {$Think.Lang.V_INDEX_TEAM_INFO}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        home.initIndex();

        var title = '笔加索提示您';
        var str = '<div class="lh15 font3"><h3 class="cc7cce6 font17">诚邀做市商加盟合作</h3>'
            +'<p class="padt10">根据笔加索战略规划及发展需要，特邀请有实力的做市商加盟合作，达到以下条件之一可申请做市商，做市商享受相应交易手续费优惠以及享受笔加索社区生态发展的更多权益。</p>'
            +'<p class="padt10">条件一：在笔加索平台账户总资产价值大于等于50万CNYT且锁仓CNUT大于等于20万可享受交易手续60%的优惠。</p>'
            +'<p class="padt10">条件二：在笔加索平台账户总资产价值大于等于100万CNYT且锁仓CNUT大于等于50万可享受交易手续100%的优惠即零手续费。</p>'
            +'<p class="padt10">联系人QQ：3299889202，名额有限，欲报从速！</p>'
            +'<p class="cc7cce6 tc padt20 font17">笔加索运营团队</p></div>';
        var btn = '我已了解以上风险';
        var maxWidth = 600;
        var cookie = 'bjsNotice';
        home.initNotice(title,str,btn,maxWidth,cookie);
    })
</script>
<include file="Public:footer"/>