<include file="Public:header"/>
<include file="Public:banner"/>

<div class="content">
    <div class="content-unit bjs-tab">
        <div class="bjs-tab-head">
            <ul class="window-wrap w1500 clearfix flex-box">
                <li>
                    <a class="active" href="javascript:;"><span>对CNYT交易区</span></a>
                </li>
                <li>
                    <a href="javascript:;"><span>对USDT交易区</span></a>
                </li>
                <li>
                    <a href="javascript:;"><span>对BTC交易区</span></a>
                </li>
                <li>
                    <a href="javascript:;"><span>对ETH交易区</span></a>
                </li>
                <li>
                    <a href="javascript:;"><span>限时交易区</span></a>
                </li>
                <li>
                    <a href="javascript:;" class="localStorage-star"><span>我的自选区</span></a>
                </li>
            </ul>
        </div>
        <div class="bjs-search">
            <div class="window-wrap w1500 clearfix">
                <div class="bjs-tab-tr clearfix">
                    <div class="bjs-notice pull-left">
                        <div class="bjs-notice-icon pull-left"><span>公告:</span> </div>
                        <div class="bjs-notice-list pull-left"><p>已经完成EOSDAC主网切换并开放秒充秒提功能</p></div>
                        <div class="bjs-notice-more pull-left"><a href="#">查看更多...</a></div>
                    </div>
                    <div class="bjs-search-box pull-right">
                        <input type="text" name="keywords" placeholder="搜索CNYT交易区">
                    </div>
                </div>
            </div>
        </div>
        <div class="bjs-tab-cont">
            <div class="window-wrap w1500 clearfix">
                <div class="bjs-tab-table">
                    <div class="bjs-tab-thead">
                        <ul class="clearfix bjs-tab-tr">
                            <li><span class="curr-base">币种对<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span class="curr-base">价格<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span class="curr-base">24小时交易量<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span class="curr-base">24小时成交额<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span class="curr-base">日涨跌<em class="bjs-sort-up"></em><em class="bjs-sort-down"></em></span></li>
                            <li><span>价格趋势(3日)</span></li>
                            <li></li>
                            <li><span class="bjs-star star-cur"></span></li>
                        </ul>
                    </div>
                    <div class="bjs-tab-title"><span>主区</span><a class="pull-right vote-title-link index-link-to-introduce" href="/Finance/introduce_main.html" target="_blank">主区介绍</a></div>
                    <div class="bjs-tab-tbody">
                        <volist name="lists" id="vo">
                            <eq name="vo.main_coin" value="1">
                            <ul class="clearfix bjs-tab-tr" data-id="{$vo.url}">
                                <li><a href="/trade/index/market/{$vo.url}"><span class="bjs-bi-icon"><img src="/Upload/coin/{$vo.img}"/>{$vo.title}</span></a></li>
                                <if condition="$vo['class'] eq 'red'">
                                    <li><span class="icon-arrow-down">￥{$vo.new_price}</span><span class="bjs-tab-price"> ≈ ${$vo.new_price|tousdt} </span><span class="icon-arrow-down">↓</span></li>
                                    <li>{$vo.volume}</li>
                                    <li>{$vo.volumes}</li>
                                    <li><span class="icon-arrow-down {$vo.class}">{$vo.change}%</span></li>
                                    <else />
                                    <li><span class="icon-arrow-up">￥{$vo.new_price}</span><span class="bjs-tab-price"> ≈ ${$vo.new_price|tousdt} </span><span class="icon-arrow-up">↑</span></li>
                                    <li>{$vo.volume}</li>
                                    <li>{$vo.volumes}</li>
                                    <li><span class="icon-arrow-up">{$vo.change}%</span></li>
                                </if>
                                <li><canvas width="200" height="40"></canvas></li>
                                <li><a class="bjs-tab-trading" href="/trade/index/market/{$vo.url}">交易</a>
                                    <a class="bjs-tab-trading" href="/trade/profession/market/{$vo.url}/profession.html">K线</a></li>
                                <li><span class="bjs-star star-cur"></span></li>
                            </ul>
                            </eq>
                        </volist>
                    </div>
                    <div class="bjs-tab-title"><span>创新区</span><a class="pull-right vote-title-link index-link-to-introduce" href="/Finance/introduce_new.html" target="_blank">创新区介绍</a></div>
                    <div class="bjs-tab-tbody">
                        <volist name="lists" id="voo">
                            <eq name="voo.main_coin" value="0">
                                <ul class="clearfix bjs-tab-tr" data-id="{$voo.url}">
                                    <li><a href="/trade/index/market/{$voo.url}"><span class="bjs-bi-icon"><img src="/Upload/coin/{$voo.img}"/>{$voo.title}</span></a></li>
                                    <if condition="$voo['class'] eq 'red'">
                                        <li><span class="icon-arrow-down">￥{$voo.new_price}</span><span class="bjs-tab-price"> ≈ ${$voo.new_price|tousdt} </span><span class="icon-arrow-down">↓</span></li>
                                        <li>{$voo.volume}</li>
                                        <li>{$voo.volumes}</li>
                                        <li><span class="icon-arrow-down {$voo.class}">{$voo.change}%</span></li>
                                        <else />
                                        <li><span class="icon-arrow-up">￥{$voo.new_price}</span><span class="bjs-tab-price"> ≈ ${$voo.new_price|tousdt} </span><span class="icon-arrow-up">↑</span></li>
                                        <li>{$voo.volume}</li>
                                        <li>{$voo.volumes}</li>
                                        <li><span class="icon-arrow-up">{$voo.change}%</span></li>
                                    </if>
                                    <li><canvas width="200" height="40"></canvas></li>
                                    <li><a class="bjs-tab-trading" href="/trade/index/market/{$voo.url}">交易</a>
                                        <a class="bjs-tab-trading" href="/trade/profession/market/{$voo.url}/profession.html">K线</a></li>
                                    <li><span class="bjs-star star-cur"></span></li>
                                </ul>
                            </eq>
                        </volist>
                    </div>


                    <div class="bjs-tab-title"><span>实验区</span><a class="pull-right vote-title-link index-link-to-introduce" href="/Finance/introduce_experiment.html" target="_blank">实验区介绍</a></div>
                    <div class="bjs-tab-tbody">
                        <volist name="lists" id="voo">
                            <eq name="voo.main_coin" value="2">
                                <ul class="clearfix bjs-tab-tr" data-id="{$voo.url}">
                                    <li><a href="/trade/index/market/{$vo.url}"><span class="bjs-bi-icon"><img src="/Upload/coin/{$voo.img}"/>{$voo.title}</span></a></li>
                                    <if condition="$voo['class'] eq 'red'">
                                        <li><span class="icon-arrow-down">￥{$voo.new_price|NumToStr}</span><span class="bjs-tab-price"> ≈ ${$voo.new_price|tousdt} </span><span class="icon-arrow-down">↓</span></li>
                                        <li>{$voo.volume}</li>
                                        <li>{$voo.volumes}</li>
                                        <li><span class="icon-arrow-down {$voo.class}">{$voo.change}%</span></li>
                                        <else />
                                        <li><span class="icon-arrow-up">￥{$voo.new_price|NumToStr}</span><span class="bjs-tab-price"> ≈ ${$voo.new_price|tousdt} </span><span class="icon-arrow-up">↑</span></li>
                                        <li>{$voo.volume}</li>
                                        <li>{$voo.volumes}</li>
                                        <li><span class="icon-arrow-up">{$voo.change}%</span></li>
                                    </if>
                                    <li><canvas width="200" height="40"></canvas></li>
                                    <li><a class="bjs-tab-trading" href="/trade/index/market/{$voo.url}">交易</a>
                                        <a class="bjs-tab-trading" href="/trade/profession/market/{$voo.url}/profession.html">K线</a></li>
                                    <li><span class="bjs-star star-cur"></span></li>
                                </ul>
                            </eq>
                        </volist>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-unit bjs-news">
        <h3 class="bjs-news-title"><span>最新动态</span></h3>
        <div class="bjs-news-cont">
            <div class="window-wrap w1500 bjs-news-slide-box">
                <div class="bjs-news-slide">
                    <ul class="clearfix">
                        <volist name="hotlist" id="vo">
                            <li>
                                <a href="{:U('Article/detail','id='.$vo['id'])}">
                                    <h4>{$vo.title}...</h4>

                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>
                <span class="bjs-news-btn-left"></span>
                <span class="bjs-news-btn-right"></span>
            </div>
        </div>
    </div>
    <div class="content-unit bjs-logo">
        <div class="bjs-logo-head">
            <img src="__PUBLIC__/v2/images/bjs-1.jpg">
            <div class="bjs-logo-head-box">
                <a class="apple-btn" href="/Index/app/"></a>
                <a class="android-btn" href="/Index/app/"></a>
            </div>
        </div>
        <div class="bjs-logo-cont">
            <img src="__PUBLIC__/v2/images/bjs-2.jpg">
            <a class="join-btn" href="/Login/index.html"></a>
        </div>
    </div>
    <div class="content-unit bjs-features">
        <div class="bjs-features-cont">
            <div class="window-wrap w1500">
                <ul class="bjs-features-list clearfix">
                    <li class="feature-1">
                        <div></div>
                        <h3>全托管</h3>
                        <h4>笔加索为您提供全方位的托管服务<br/>让您省心便捷</h4>
                        <p>-</p>
                    </li>
                    <li class="feature-2">
                        <div></div>
                        <h3>有保障</h3>
                        <h4>笔加索拥有非常资深的技术实力团队<br/>保障您的各项需求</h4>
                        <p>-</p>
                    </li>
                    <li class="feature-3">
                        <div></div>
                        <h3>更放心</h3>
                        <h4>您的每一笔交易，都会有笔加索全程护驾<br/>让您交易更放心</h4>
                        <p>-</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        home.initIndex();
    })
</script>
<include file="Public:footer"/>