<include file="Public:header" />
<div class="content">
    <div class="clearfix window-wrap w1500 c2c-page">
        <include file="User:left" />
        <div class="c2c-page-right pull-right">
            <div class="c2c-cont">
                <div class="c2c-cont-head clearfix">
                    <h3 class="c2c-cont-head-title">
                        <p>找回交易密码</p>
                    </h3>
                </div>
                <div class="clearfix">
                    <div class="default-form">
                        <div class="form-item">
                            <h5 class="form-label">恭喜您，找回交易密码成功！</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        window.location = '/user';
        trans_lock = 0;
    }, 3000);
</script>
<include file="Public:footer" />