<include file="Public:header" />
<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />
		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title">
						<p>{$Think.Lang.V_FINDPWD_FINDPWD_1}</p>
					</h3>
				</div>
				<div class="clearfix">
					<div class="default-form">
						<div class="form-item">
							<h5 class="form-label">{$Think.Lang.V_FINDPWD_FINDPWD_2}</h5>
							<div class="select-100" id="validate">
								<select id="validate-select" class="form-input vhide select3" name="pay">
									<option value="0">{$Think.Lang.V_FINDPWD_FINDPWD_3}</option>
									<option value="email">{$Think.Lang.V_FINDPWD_FINDPWD_4}</option>
									<option value="sms">{$Think.Lang.V_FINDPWD_FINDPWD_5}</option>
								</select>
							</div>
						</div>
						<div class="form-item">
							<h5 class="form-label">{$Think.Lang.V_FINDPWD_FINDPWD_6}</h5>
							<div class="input-group input-group-r">
								<input type="text" id="verify" value="" class="form-control form-input"/>
								<img id="verify_up" class="cinput-group-addon tc" src="{:U('Verify/code')}" title="{$Think.Lang.V_FINDPWD_FINDPWD_7}" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34">
							</div>
						</div>
						<div class="form-item">
							<h5 class="form-label">{$Think.Lang.V_FINDPWD_FINDPWD_8}</h5>
							<div class="input-group input-group-r">
								<input class="form-control form-input" id="moble_verify"  type="text" name="code" placeholder="{$Think.Lang.V_FINDPWD_FINDPWD_9}"><a class="input-group-addon tc" id="reg_moble_new" onclick="sendVerifyCode()" href="javascript:;">{$Think.Lang.V_FINDPWD_FINDPWD_10}</a>
							</div>
						</div>
						<div class="form-item">
							<input type="button" class="default-form-submit pull-right" onclick="findpwd_up();" value="{$Think.Lang.V_FINDPWD_FINDPWD_11}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.select3').select2({
        minimumResultsForSearch: -1,
        dropdownAutoWidth: true
    });

	function sendVerifyCode(type) {
        if($('#reg_moble_new').html() != lange.FINDPWD_FINDPWD_1){
            return;
        }
        var type = $('#validate-select option:selected').attr("value");
        var verify = $("#verify").val();
        if (verify == "" || verify == null) {
            layer.tips(lange.FINDPWD_FINDPWD_2, '#verify', {tips: 2});
            return false;
        }
        if(type != 'sms' && type != 'email'){
            layer.tips(lange.FINDPWD_FINDPWD_3, '#validate', {tips: 2});
            return false;
        }
        var postUrl = "";
        if(type == 'sms'){
            postUrl = "/verify/moble_findpwd.html";
        }else if(type == 'email'){
            postUrl = "/verify/email_findpwd.html";
        }
		$.post(postUrl, {
			type: type,
			verify: verify,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$("#moble_verify").focus();
				$('#validate-select').attr("disabled", "disabled");
				$('#mobles').attr("disabled", "disabled");
				var obj      = $('#reg_moble_new');
				var wait     = 30;
				var interval = setInterval(function () {
					obj.html("" + wait + lange.FINANCE_OUT_SENDSMS2);
					wait--;
					if (wait < 0) {
						clearInterval(interval);
                        $("#verify_up").click();
						$("#verify").val('');
						obj.html(lange.FINDPWD_FINDPWD_5);
					}
					;
				}, 1000);
			} else {
                $("#verify_up").click();
				layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
			}
		}, "json");
	}


	function findpwd_up() {
		var moble_verify = $("#moble_verify").val();
		if (moble_verify == "" || moble_verify == null) {
			layer.tips(lange.FINDPWD_FINDPWD_6, '#moble_verify', {tips: 2});
			return false;
		}
        var type = $('#validate-select option:selected').attr("value");
		$.post("/Findpwd/findpwd.html", {
			moble_verify: moble_verify,
            type: type,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1,data:2000},function(){
                    window.location = '/Findpwd/findpwdconfirm';
				});
			} else {
				layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
			}
		}, "json");
	}
</script>

<include file="Public:footer" />