<include file="Public:header" />
<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />
		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title">
						<p>找回交易密码</p>
					</h3>
				</div>
				<div class="clearfix">
					<div class="default-form">
						<div class="form-item">
							<h5 class="form-label">新交易密码</h5>
							<input type="password" id="password" class="form-input" placeholder="请输入新交易密码"/>
						</div>
						<div class="form-item">
							<h5 class="form-label">确认交易密码</h5>
							<input type="password" id="repassword" class="form-input" placeholder="请输入确认交易密码"/>
						</div>
						<div class="form-item">
							<h5 class="form-label">确认交易密码</h5>
							<input type="button" class="default-form-submit pull-right" value="下一步" onclick="password_up();"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript" src="__PUBLIC__/m/js/md5.js"></script>
<script>
	function password_up() {

		var password   = $("#password").val();
		var repassword = $("#repassword").val();

		if (password == "" || password == null) {
			layer.tips("请输入新密码", '#password', {tips: 3});
			return false;
		}
		if (repassword == "" || repassword == null) {
			layer.tips("请输入确认密码", '#repassword', {tips: 3});
			return false;
		}
		if (password != repassword) {
			layer.tips("确认密码错误", '#repassword', {tips: 3});
			return false;
		}

		$.post("/Findpwd/password_up.html", {
			password: hex_md5(password),
			repassword: hex_md5(repassword),
			token: ""
		}, function (data) {
			console.log(data);
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1,time:2000},function(){
                    window.location = '/Findpwd/findpwdinfo';
				});
			} else {
                layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
                });
			}
		}, "json");
	}
</script>

<include file="Public:footer" />