<div class="footer">
    <div class="content-unit bjs-aboutUs">
        <div class="bjs-aboutUs-head"></div>
        <div class="bjs-aboutUs-cont">
            <div class="window-wrap w1500">
                <p>比特币等加密数字货币的交易存在风险，7*24小时交易，没有涨停跌停限制，价格受到新闻事件，<br/>各国政策，市场需求等多种因素影响，浮动很大。我们强烈建议您事先调查了解，<br/>在自身所能承受的风险范围内参与交易。</p>
                <p class="link-list">
                    <span><a class="link-tt" href="#"></a></span>
                    <span><a class="link-fb" href="#"></a></span>
                    <span><a class="link-qq" href="#"></a></span>
                    <span><a class="link-wb" href="#"></a></span>
                    <span><a class="link-wx" href="#"></a></span>
                </p>
            </div>
        </div>
        <div class="bjs-aboutUs-foot">
            <div class="w840">
                <ul class="clearfix">
                    <volist name="footerArticle['help']" id="vvo">
                        <li><a href="{:U('Article/type',array('id'=>$vvo['id']))}">{$vvo['title']}</a></li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-unit bjs-copyright">
        <div class="bjs-copyright-cont">BJS.BI © 2018 <br/></div>
    </div>
</div>
</div>
<script type="text/javascript" src="__PUBLIC__/v2/js/canvas.js"></script>
<script type="text/javascript" src="__PUBLIC__/v2/js/iscroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/v2/js/index.js"></script>
<script>
    $(function(){
        loadMenu();
        home.initTrade();
        home.initProgress(function($this){
            // console.log($this[0].id);
            // console.log($this.siblings('.progress-num-input').val());
            var percentage = $this.siblings('.progress-num-input').val();
            if($this[0].id == 'buy-progress'){
                sliderController(percentage,"buy");
            }else{
                sliderController(percentage,"sell");
            }
        });
    });
</script>
</body>
</html>