<include file="Public:header" />

<div class="content">
    <div class="clearfix window-wrap w1500 c2c-page">

        <include file="User:left" />
        <div class="c2c-page-right pull-right">
            <div class="c2c-cont">
                <div class="c2c-cont-head clearfix">
                    <h3 class="c2c-cont-head-title pull-left">
                        实名认证
                    </h3>
                </div>
                <div>
                    <div id="qrcode_div"></div>
                    <input type="hidden" id="auth_token" value="{$token}" />
                </div>
            </div>
        </div>
    </div></div>

<script type="text/javascript" src="__PUBLIC__/v2/js/jquery.qrcode.min.js"></script>

<script>
    $(function(){
        var auth_token = $('#auth_token').val();
        var face_url = "https://api.megvii.com/faceid/lite/do?token=";
        face_url += auth_token;
        $('#qrcode_div').qrcode({
            render: "canvas", //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
            text: face_url, //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
            width: 300, //二维码的宽度
            height: 300,
            background: "#ffffff", //二维码的后景色
            foreground: "#000000", //二维码的前景色
            src: '__PUBLIC__/v2/images/qrcode_w.PNG',
            imgWidth: 80,
            imgHeight: 80
        });
    });
</script>

<include file="Public:footer" />