<include file="Public:header" />
<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left"/>
				<div class="c2c-page-right pull-right">
					<div class="c2c-cont">
						<div class="c2c-cont-head clearfix">
							<h3 class="c2c-cont-head-title">
								<p>谷歌验证器绑定</p>
							</h3>
						</div>
						<div class="clearfix authenticator-box tc">
							<p class="authenticator-info">谷歌验证器是一款动态口令工具，工作原理类似短信动态验证。绑定后每30s生成一个动态验证码，</p>
							<p class="authenticator-info">验证码可用于登录、提现、修改安全设置等操作的安全验证。</p>
							<eq name="is_ga" value="0">
							<div class="authenticator-center">
								<h4 class="authenticator-title uc-unit-title">1.下载谷歌验证器APP</h4>
								<p class="authenticator-info">iOS用户登录App Store搜索“Authenticator”下载。</p>
								<p class="authenticator-info">安卓用户登录应用商店或使用手机浏览器搜索“谷歌验证器”下载。</p>
								<div class="authenticator-info padt20">
									<a href="#" class="btn-toggle">
										<img class="toggle-show" src="__PUBLIC__/v2/images/apple-btn.png">
										<img class="toggle-hide" src="__PUBLIC__/v2/images/apple-btn-active.png">
									</a>
									<a href="#" class="btn-toggle">
										<img class="toggle-show" src="__PUBLIC__/v2/images/google-btn.png">
										<img class="toggle-hide" src="__PUBLIC__/v2/images/google-btn-active.png">
									</a>
								</div>
								<h4 class="authenticator-title uc-unit-title">2.在谷歌验证器中添加密钥并备份</h4>
								<p class="authenticator-info">打开谷歌验证器，扫描下方二维码或手动输入下述密钥添加验证令牌。</p>
								<p class="authenticator-info c05e1e1">密钥用于手机更换或遗失时找回谷歌验证器，绑定前请务必将下述密钥备份保存。</p>
								<div class="authenticator-info padt20">
									<div id="invit_qrcode"></div>
								</div>
								<div class="input-group input-group-c padt20">
									<span class="input-group-addon tc">密钥</span><input class="form-control form-input" id="google-key" type="text" name="name" readonly="" value="{$Asecret}" ><span class="input-group-addon tc copy-btn" data-clipboard-target="#google-key" >复制</span>
								</div>
								<h4 class="authenticator-title uc-unit-title">3.输入谷歌验证器中6位验证码</h4>
								<div class="authenticator-center">
									<div class="padt10"><input type="text" name="code" id="code" class="form-input" placeholder="谷歌验证码"></div>
									<div class="padt10"><button class="default-form-submit" onclick="Submit()">绑定</button></div>
								</div>
							</div>
								<else/>
								<div class="authenticator-center">
									<h4 class="authenticator-title uc-unit-title">验证器已绑定</h4>
								</div>
							</eq>
						</div>
					</div>
				</div>
	</div>
	<div class="content">
<script type="text/javascript" src="__PUBLIC__/v2/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/v2/js/jquery.cookies.2.2.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/v2/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/v2/js/index.js"></script>
<script type="text/javascript" src="__PUBLIC__/v2/js/clipboard.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/v2/js/jquery.qrcode.min.js"></script>
<script type="text/javascript">
    console.log(2)
    $('#invit_qrcode').qrcode({
        render: "canvas", //table方式
        width: 160, //二维码的宽度
        height: 160,
        text: '{$qrCodeUrl}', //任意内容
        src: '',
        imgWidth: 60,
        imgHeight: 60,
		callback: function () {
			console.log(1)
        }
    }); //任意字符串
var home = new bjsIndex();
home.initGoogleAuthenticator();

function Submit(){
	var code = $('#code').val();
	if(!code){
        layer.msg('请输入验证码', {icon: 2});
        return;
	}
    layer.confirm('是否确认绑定谷歌验证器',
        {btn:['确认','取消'],title:'请确认'},
        function(index){
            layer.close(index);
            $.post("{:U('User/bind_google')}", {
                code:code.trim()
            }, function (data) {
                layer.closeAll('loading');
                // trans_lock = 0;
                if (data.status == 1) {
                    layer.msg(data.info, {icon: 1,time:600},function () {
                        window.location = '/User/googleauth.html';
                    });
                } else {
                    layer.msg(data.info, {icon: 2});
                }
            }, 'json');
        },function(){
            return;
        }
    );
}
</script>
<include file="Public:footer" />
