<include file="Public:header" />

<div class="content">
    <div class="clearfix window-wrap w1500 c2c-page">

        <include file="User:left" />
        <div class="c2c-page-right pull-right">
            <div class="c2c-cont">
                <div class="c2c-page-right-menu">
                    <ul class="flex-box align-top">
                        <li>
                            <p>我的账号ID</p>
                            <p><span class="c00ffff font17">{$Think.session.userId}</span></p>
                        </li>
                        <li>
                            <p>可用CNYT</p>
                            <p><span class="c00ffff font17"><em>{$cny['ky']|NumToStr}</em></span></p>
                        </li>
                        <li>
                            <p>冻结CNYT</p>
                            <p><span class="c00ffff font17">{$cny['dj']|NumToStr}</span></p>
                        </li>
                        <li>
                            <p>预估总资产</p>
                            <p><span class="c00ffff font17">{$cny['zj']|NumToStr}</span></p>
                        </li>
                    </ul>
                    <p class="p-line"></p>
                </div>
                <div class="c2c-order">
                    <div class="c2c-order-table c2c-table-max">
                        <table class="c2c-table">
                            <thead>
                            <tr>
                                <th>币种</th>
                                <th>可用余额</th>
                                <th>冻结金额</th>
                                <th>总计</th>
                                <th>折合(CNYT)</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr>-->
                                <!--<td><span class="bjs-bi-icon"><img src="images/language.png"> USDT Tether</span></td>-->
                                <!--<td>143.454522</td>-->
                                <!--<td>143.454522</td>-->
                                <!--<td>143.454522</td>-->
                                <!--<td>143.454522</td>-->
                                <!--<td>-->
                                    <!--<a href="#" class="c2c-option-btn c2c-btn-red">充值</a>-->
                                    <!--<a href="#" class="c2c-option-btn c2c-btn-cyan">提现</a>-->
                                    <!--<a href="#" class="c2c-option-btn c2c-btn-blue">交易</a>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <volist name="coinList" id="vo">
                                <tr>
                                <td>
                                    <div class="c2c-order-bi-icon"><img src="__UPLOAD__/coin/{$vo['img']}" alt="" width="40"/></div>
                                    <div class="c2c-order-bi-price">
                                        <p>{$vo['title']}</p>
                                        <p class="c00ffff">{$vo['jia']|NumToStr}</p>
                                    </div>
                                </td>
                                <td class="">{$vo['xnb']|NumToStr}</td>
                                <td class="">{$vo['xnbd']|NumToStr}</td>
                                <td class="">{$vo['xnbz']|NumToStr}</td>
                                <td class="">{$vo['zhehe']|NumToStr}</td>
                                <td>
                                    <eq name="vo.zr_jz" value='1'>
                                        <a href="/Finance/myzr/coin/{$vo['xnbs']}" class="c2c-option-btn c2c-btn-red">充币</a>
                                        <else/>
                                        <a class="c2c-option-btn c2c-btn-disable">充币</a>
                                    </eq>
                                    <eq name="vo.zc_jz" value='1'>
                                        <a href="/Finance/myzc/coin/{$vo['xnbs']}" class="c2c-option-btn c2c-btn-cyan">提币</a>
                                        <else/>
                                        <a class="c2c-option-btn c2c-btn-disable">提币</a>
                                    </eq>
                                    <a href="/trade/index/market/{:C('market_type')[$vo['name']]}t" class="c2c-option-btn c2c-btn-blue">交易</a>
                                </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 左边tab切换&浮动导航
    $(function () {
        // 左边tab切换&浮动导航
        (function () {
            var tab   = $('.nav-tab-list dd');
            var hover = $('.nav-tab-hover');
            var pos   = 0;
            tab.each(function (index) {
                var $this = $(this);
                if ($this.hasClass('active')) {
                    pos = index;
                }
                $this.hover(function () {
                    _moveTo(index);
                }, function () {
                    _moveTo(pos);
                });
            });
            _moveTo(pos);
            $('.nav-tab-hover').show();

            function _moveTo(index) {
                hover.css("top", 60 + 50 * index);
                tab.removeClass('active');
                tab.eq(index).addClass('active');
            }
        })();
    });

    $(window).on('scroll resize', function () {
        if (document.body.scrollTop < 100) {
            $('#left-nav-bar').css("top", 0);
        } else if (document.body.scrollTop > ($('.tag-list-content').height() - $('#left-nav-bar').height() + 100)) {
            $('#left-nav-bar').css("top", ($('.tag-list-content').height() - $('#left-nav-bar').height()));
        } else {
            $('#left-nav-bar').css("top", document.body.scrollTop - 100);
        }
    });
</script>
<script>
    var hints = "0";
    if(hints == 1){
        $('#hints').show();
    }
    $('#finance_box').addClass('active');
    $('.finan_index').addClass('active');
</script>



<include file="Public:footer" />