<div class="c2c-page-left pull-left">
	<ul class="c2c-menu-left">
		<li class="c2c-menu-unit">
			<h3><span>我的账户</span></h3>
			<ul>
				<li><a class="active" href="/User/"><span>账户资金</span></a></li>
				<li><a href="/User/promotion"><span>邀请好友</span></a></li>
				<li><a href="/Finance/mywd"><span>我的推荐</span></a></li>
				<li><a href="/Finance/myjp"><span>我的奖励</span></a></li>
			</ul>
		</li>
		<li class="c2c-menu-unit">
			<h3><span>交易挂单</span></h3>
			<ul>
				<li><a href="/Finance/mywt"><span>我的挂单</span></a></li>
				<li><a href="/User/trade_log"><span>成交记录</span></a></li>
				<li><a href="/Finance/mycz_list"><span>C2C交易记录</span></a></li>
			</ul>
		</li>
		<li class="c2c-menu-unit">
			<h3><span>充值提现</span></h3>
			<ul>
				<li><a href="/Finance/mycz"><span>C2C法币交易</span></a></li>
				<li><a href="/Finance/myzr"><span>数字货币充值</span></a></li>
				<li><a href="/Finance/myzc"><span>数字货币提现</span></a></li>
				<li><a href="/Finance/myzr_list"><span>最近充币记录</span></a></li>
				<li><a href="/Finance/myzc_list"><span>最近提币记录</span></a></li>
			</ul>
		</li>
		<li class="c2c-menu-unit">
			<h3><span>安全中心</span></h3>
			<ul>
				<li><a href="/User/uc"><span>实名认证</span></a></li>
				<!--<li><a href="#"><span>谷歌验证器绑定</span></a></li>-->
				<li><a href="/User/moble"><span>手机绑定</span></a></li>
				<li><a href="/User/email"><span>邮箱绑定</span></a></li>
				<li><a href="/Finance/bank"><span>支付设置</span></a></li>
				<li><a href="/User/password"><span>修改登录密码</span></a></li>
				<li><a href="/User/paypassword"><span>修改交易密码</span></a></li>
				<li><a href="/Findpwd/findpwd"><span>找回交易密码</span></a></li>

				<li><a href="/User/award_log"><span>中奖记录</span></a></li>
			</ul>
		</li>
		<li class="c2c-menu-unit">
			<h3><span>最新活动</span></h3>
			<ul>
				<li><a href="/Task/lists/type/myfh/"><span>持币（CNUT）分红</span></a></li>
				<!--<li><a href="#"><span>谷歌验证器绑定</span></a></li>-->
				<li><a href="/Task/lists/type/myjy/"><span>交易奖励（CNUT）</span></a></li>
				<li><a href="/Task/lists/type/myyq/"><span>邀请奖励</span></a></li>
			</ul>
		</li>
	</ul>
</div>