<include file="Public:header" />
<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />
		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title">
						<p>修改密码</p>
					</h3>
				</div>
				<div class="clearfix">
					<div class="default-form">
						<div class="form-item">
							<h5 class="form-label">原登录密码</h5>
							<input class="form-input" type="password" id="oldpassword" name="old-password" placeholder="输入原登录密码">
						</div>
						<div class="form-item">
							<h5 class="form-label">新登录密码</h5>
							<input class="form-input" type="password" id="newpassword" name="new-password" placeholder="输入新登录密码">
						</div>
						<div class="form-item">
							<h5 class="form-label">确认新登录密码</h5>
							<input class="form-input" type="password" id="repassword" name="new-password" placeholder="输入新登录密码">
						</div>
						<div class="form-item">
							<button class="default-form-submit pull-right" onclick="password_up()">修改</button>
						</div>
						<div class="form-item">
							<p class="form-item-msg">
								<span class="picon-warning">修改登录密码之后24小时内禁止提币!</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/m/js/md5.js"></script>
<script type="text/javascript">
    //submit 事件
    $('.form-input').on('keyup',function(e){
        if(e.keyCode == 13){
            $(this).closest('.default-form').find('.default-form-submit').trigger('click');
        }
    });
	function password_up() {
		var oldpassword = $('#oldpassword').val();
		var newpassword = $('#newpassword').val();
		var repassword  = $('#repassword').val();

		if (oldpassword == '' || oldpassword == null) {
			layer.tips("请输入旧登录密码", '#oldpassword', {tips: 2});
			return false;
		}
		if (newpassword == '' || newpassword == null) {
			layer.tips("请输入新登录密码", '#newpassword', {tips: 2});
			return false;
		}
		if (repassword != newpassword) {
			layer.tips("确认密码错误", '#repassword', {tips: 2});
			return false;
		}
        layer.load();
		$.post("/user/uppassword_qq3479015851.html", {
			oldpassword: hex_md5(oldpassword),
			newpassword: hex_md5(newpassword),
			repassword: hex_md5(repassword)
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1,time:2000},function () {
                    if (data.url) {
                        window.location = data.url;
                    } else {
                        window.location.reload();
                    }
                });
			} else {
				layer.msg(data.info, {icon: 2,time:2000},function () {
                    if (data.url) {
                        window.location = data.url;
                    }
                });
			}
            layer.closeAll('loading');
		}, 'json');
	}
</script>


<include file="Public:footer" />