<include file="Public:header" />
<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />
		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title">
						<p>修改密码</p>
					</h3>
				</div>
				<div class="clearfix">
					<div class="default-form">
						<div class="form-item">
							<h5 class="form-label">请选择验证方式</h5>
							<div class="select-100" id="validate">
								<select id="validate-select" class="form-input vhide select3" name="pay">
									<option value="0">请选择</option>
									<option value="email">邮箱验证</option>
									<option value="sms">短信验证</option>
								</select>
							</div>
						</div>
						<div class="form-item">
							<h5 class="form-label">图形验证码</h5>
							<div class="input-group input-group-r">
								<input type="text" id="verify" value="" class="form-control form-input"/>
								<img id="verify_up" class="cinput-group-addon tc" src="{:U('Verify/code')}" title="换一张" onclick="this.src=this.src+'?t='+Math.random()" width="100" height="34">
							</div>
						</div>
						<div class="form-item">
							<h5 class="form-label">获取验证码</h5>
							<div class="input-group input-group-r">
								<input class="form-control form-input" id="moble_verify"  type="text" name="code" placeholder="请输入验证码"><a class="input-group-addon tc" id="reg_moble_new" onclick="sendVerifyCode()" href="javascript:;">发送验证码</a>
							</div>
						</div>
						<div class="form-item">
							<h5 class="form-label">原登录密码</h5>
							<input class="form-input" type="password" id="oldpassword" name="old-password" placeholder="输入原登录密码">
						</div>
						<div class="form-item">
							<h5 class="form-label">新登录密码</h5>
							<input class="form-input" type="password" id="newpassword" name="new-password" placeholder="输入新登录密码">
						</div>
						<div class="form-item">
							<h5 class="form-label">确认新登录密码</h5>
							<input class="form-input" type="password" id="repassword" name="new-password" placeholder="输入新登录密码">
						</div>
						<div class="form-item">
							<button class="default-form-submit pull-right" onclick="password_up()">修改</button>
						</div>
						<div class="form-item">
							<p class="form-item-msg">
								<span class="picon-warning">修改登录密码之后24小时内禁止提币!</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/m/js/md5.js"></script>
<script type="text/javascript">
	$('.select3').select2({
        minimumResultsForSearch: -1,
        dropdownAutoWidth: true
    });
    //submit 事件
    $('.form-input').on('keyup',function(e){
        if(e.keyCode == 13){
            $(this).closest('.default-form').find('.default-form-submit').trigger('click');
        }
    });
    function sendVerifyCode() {
        if($('#reg_moble_new').html() != '发送验证码'){
            return;
        }

        var type = $('#validate-select option:selected').attr("value");
        var verify = $("#verify").val();
        if (verify == "" || verify == null) {
            layer.tips("请输入图形验证码", '#verify', {tips: 1});
            return false;
        }
        if(type != 'sms' && type != 'email'){
            layer.tips("请选择验证类型", '#validate', {tips: 1});
            return false;
        }
        var postUrl = "";
        if(type == 'sms'){
            postUrl = "/verify/moble_findpwd.html";
        }else if(type == 'email'){
            postUrl = "/verify/email_findpwd.html";
        }

		$.post(postUrl, {
			verify: verify,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$("#moble_verify").focus();
				$('#validate-select').attr("disabled", "disabled");
				$('#mobles').attr("disabled", "disabled");
				var obj      = $('#reg_moble_new');
				var wait     = 30;
				var interval = setInterval(function () {
					obj.html("" + wait + "秒可再次发送");
					wait--;
					if (wait < 0) {
						clearInterval(interval);
                        $("#verify_up").click();
						$("#verify").val('');
						obj.html('发送短信验证码');
					}
					;
				}, 1000);
			} else {
                $("#verify_up").click();
				layer.msg(data.info, {icon: 2,time:2000},function(){
                    if (data.url) {
                        window.location = data.url;
                    }
				});
			}
		}, "json");
	}
	function password_up() {
		var verify = $("#verify").val();		
		var moble  = $('#validate-select').val();
		var mobles = $('#mobles').val();
		var moble_verify = $("#moble_verify").val();

		if (moble == 0) {
			layer.tips("请选择验证方式", '#validate', {tips: 2});
			return false;
		}
        if (verify == '' || verify == null) {
            layer.tips("请输入图形验证码", '#verify', {tips: 2});
            return false;
        }
		if (moble_verify == "" || moble_verify == null) {
			layer.tips("请输入验证码", '#moble_verify', {tips: 2});
			return false;
		}

		var oldpassword = $('#oldpassword').val();
		var newpassword = $('#newpassword').val();
		var repassword  = $('#repassword').val();

		if (oldpassword == '' || oldpassword == null) {
			layer.tips("请输入旧登录密码", '#oldpassword', {tips: 2});
			return false;
		}
		if (newpassword == '' || newpassword == null) {
			layer.tips("请输入新登录密码", '#newpassword', {tips: 2});
			return false;
		}
		if (repassword != newpassword) {
			layer.tips("确认密码错误", '#repassword', {tips: 2});
			return false;
		}
        layer.load();
		$.post("/user/uppassword_qq3479015851.html", {
			moble: moble,
			mobles: mobles,
			verify: verify,
			moble_verify: moble_verify,
			oldpassword: hex_md5(oldpassword),
			newpassword: hex_md5(newpassword),
			repassword: hex_md5(repassword)
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1,time:2000},function () {
                    if (data.url) {
                        window.location = data.url;
                    } else {
                        window.location.reload();
                    }
                });
			} else {
				layer.msg(data.info, {icon: 2,time:2000},function () {
                    if (data.url) {
                        window.location = data.url;
                    }
                });
			}
            layer.closeAll('loading');
		}, 'json');
	}
</script>


<include file="Public:footer" />