<include file="Public:header" />

<div class="content">
	<div class="clearfix window-wrap w1500 c2c-page">
		<include file="User:left" />
		<div class="c2c-page-right pull-right">
			<div class="c2c-cont">
				<div class="c2c-cont-head clearfix">
					<h3 class="c2c-cont-head-title">
						<p>
							<span id="payPasswordTab" class="mouseover c2c-cont-head-btn c00ffff">修改交易密码</span>
							<span id="validateTypeTab" class="mouseover c2c-cont-head-btn ml10">设置验证方式</span>
						</p>
					</h3>
				</div>
				<div class="clearfix c2c-cont-head-tab-view" id="payPasswordTabView">
					<div class="default-form">
						<div class="form-item">
							<h5 class="form-label">原交易密码</h5>
							<input class="form-input" type="password" id="oldpaypassword" name="old-password" placeholder="输入原交易密码">
						</div>
						<div class="form-item">
							<h5 class="form-label">新交易密码</h5>
							<input class="form-input" type="password" id="newpaypassword" name="new-password" placeholder="输入新交易密码">
						</div>
						<div class="form-item">
							<h5 class="form-label">确认新交易密码</h5>
							<input class="form-input" type="password" id="repaypassword" name="new-password" placeholder="输入新交易密码">
						</div>
						<div class="form-item">
							<button class="default-form-submit pull-right" onclick="paypassword_up()">修改</button>
						</div>
					</div>
				</div>


				<div class="clearfix hide c2c-cont-head-tab-view" id="validateTypeTabView">
					<div class="default-form">
						<div class="step2 set_verify mt30">
							<ul>
								<li class="form-item">
									<label class="form-label">配置验证方式:</label>
								</li>
								<li class="form-item">
									<label class="form-label">
									<input type="radio" name="tpwdsetting" value="1" style="vertical-align: -2px;"
									<eq name="user['tpwdsetting']" value="1">checked="checked"</eq>
										> 每次登录只输入一次交易密码</label>
								</li>
								<li class="form-item">
									<label class="form-label">
									<input type="radio" name="tpwdsetting" value="2" style="vertical-align: -2px;"
									<eq name="user['tpwdsetting']" value="2">checked="checked"</eq>
										> 每笔交易都输入交易密码</label>
								</li>
								<li class="form-item">
									<label class="form-label">
									<input type="radio" name="tpwdsetting" value="3" style="vertical-align: -2px;"
									<eq name="user['tpwdsetting']" value="3">checked="checked"</eq>
										> 每次交易都不需要输入交易密码</label>
								</li>
								<li class="form-item">
									<div>
										<input id="paypassword" placeholder="请输入交易密码" type="password" class="form-input">
									</div>
								</li>
								<li class="form-item">
									<div>
										<input class="default-form-submit" value="保存" type="button" onclick="paypassword_set()">
									</div>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/m/js/md5.js"></script>
<script>
    // //submit 事件
    // $('.form-input').on('keyup',function(e){
    //     if(e.keyCode == 13){
    //         $(this).closest('.default-form').find('.default-form-submit').trigger('click');
    //     }
    // });
	$(document).on('click','.c2c-cont-head-btn',function(){
	    if($(this).hasClass('c00ffff')){
	        return false;
		}
        $(this).addClass('c00ffff').siblings().removeClass('c00ffff');
	    var id = this.id;
	    var $show = $('#'+id+'View');
        $show.removeClass('hide').siblings('.c2c-cont-head-tab-view').addClass('hide');
	})
	function paypassword_up() {
		var oldpaypassword = $('#oldpaypassword').val();
		var newpaypassword = $('#newpaypassword').val();
		var repaypassword  = $('#repaypassword').val();
		if (oldpaypassword == '' || oldpaypassword == null) {
			layer.tips("请输入旧交易密码", '#oldpaypassword', {tips: 3});
			return false;
		}
		if (newpaypassword == '' || newpaypassword == null) {
			layer.tips("请输入新交易密码", '#newpaypassword', {tips: 3});
			return false;
		}
		if (repaypassword == '' || repaypassword != newpaypassword) {
			layer.tips("请正确输入确认密码", '#repaypassword', {tips: 3});
			return false;
		}

		$.post("/user/uppaypassword_qq3479015851.html", {
			oldpaypassword: hex_md5(oldpaypassword),
			newpaypassword: hex_md5(newpaypassword),
			repaypassword : hex_md5(repaypassword),
			type:1
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1,time:2000},function () {
                    if (data.url) {
                        window.location = data.url;
                    } else {
                        window.location.reload();
                    }
                });
			} else {
				layer.msg(data.info, {icon: 2,time:2000},function () {
                    if (data.url) {
                        window.location = data.url;
                    }
                });
			}
		}, "json");
	}
</script>
<script>
	function paypassword_set() {
		var paypassword = $("#paypassword").val();
		var tpwdsetting = $("input[name='tpwdsetting']:checked").val();
		if (paypassword == "" || paypassword == null) {
			layer.tips("请输入交易密码", '#paypassword', {tips: 3});
			return false;
		}
		if (tpwdsetting == "" || tpwdsetting == null) {
			layer.tips("请选择一个", '#tpwdsetting', {tips: 3});
			return false;
		}

		$.post("/user/uptpwdsetting.html", {
			paypassword:  hex_md5(paypassword),
			tpwdsetting: tpwdsetting,
			type:2

		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1,time:2000},function () {
                    if (data.url) {
                        window.location = data.url;
                    } else {
                        window.location.reload();
                    }
                });
			} else {
				layer.msg(data.info, {icon: 2,time:2000},function () {
                    if (data.url) {
                        window.location = data.url;
                    }
                });
			}
		}, "json");
	}
</script>

<include file="Public:footer" />