<include file="Public:header" />
<div class="slide-unit new-bi-logo">
    <img src="__PUBLIC__/v2/images/new-1.jpg">
</div>
<div class="content">
    <div class="window-wrap w1500">
        <form class="add-new-bi" action="">
            <div class="clearfix">
                <ul class="form-list pull-left">
                    <li>
                        <label>您的Email：</label><input type="text" name="data1" id="data1" placeholder="">
                    </li>
                    <li>
                        <label>项目方负责人联系方式：</label><input type="text" name="data2" id="data2" placeholder="注册手机号">
                    </li>
                    <li>
                        <label>币种英文名称：</label><input type="text" name="data3" id="data3" placeholder="比如 Bitcoin">
                    </li>
                    <li>
                        <label>币种中文名称：</label><input type="text" name="data4" id="data4" placeholder="比如 比特币">
                    </li>
                    <li>
                        <label>币种交易符号：</label><input type="text" name="data5" id="data5" placeholder="比如BTC">
                    </li>
                    <li>
                        <label>ICO日期：</label><input type="text" name="data6" id="data6" placeholder="YYYY/MM/DD">
                    </li>
                    <li>
                        <label>可流通日期：</label><input type="text" name="data7" id="data7" placeholder="YYYY/MM/DD">
                    </li>
                    <li>
                        <label>币种区块网络类型：</label><input type="text" name="data8" id="data8" placeholder="ETH，QTUM，NEO，XLM，BTS或者独立链">
                    </li>
                    <li>
                        <label>代币合约地址：</label><input type="text" name="data9" id="data9" placeholder="如果没有填  无">
                    </li>
                    <li>
                        <label>钱包下载地址：</label><input type="text" name="data25" id="data25" placeholder="">
                    </li>
                    <li>
                        <label>小数点位数：</label><input type="text" name="data10" id="data10" placeholder="如Bitcoin是8位">
                    </li>
                    <li>
                        <label>币种官方网站：</label><input type="text" name="data11" id="data11" placeholder="">
                    </li>
                    <li>
                        <label>币种白皮书网址：</label><input type="text" name="data12" id="data12" placeholder="">
                    </li>
                    <li>
                        <label>项目团队介绍：</label><input type="text" name="data29" id="data29">
                    </li>
                </ul>
                <ul class="form-list pull-right">
                    <li>
                        <label>区块浏览器：</label><input type="text" name="data13" id="data13">
                    </li>
                    <li>
                        <label>Logo图片链接：</label><input type="text" name="data14" id="data14">
                    </li>
                    <li>
                        <label>Twitter链接：</label><input type="text" name="data15" id="data15">
                    </li>
                    <li>
                        <label>Telegram链接：</label><input type="text" name="data16" id="data16">
                    </li>
                    <li>
                        <label>币种简短中文介绍：</label><input type="text" name="data17" id="data17">
                    </li>
                    <li>
                        <label>币种简短英文介绍：</label><input type="text" name="data18" id="data18">
                    </li>
                    <li>
                        <label>币种总量：</label><input type="text" name="data19" id="data19">
                    </li>
                    <li>
                        <label>币种流通量：</label><input type="text" name="data20" id="data20">
                    </li>
                    <li>
                        <label>币种分配比例：</label><input type="text" name="data21" id="data21">
                    </li>
                    <li>
                        <label>成本价格：</label><input type="text" name="data22" id="data22">
                    </li>
                    <li>
                        <label>已上线交易平台：</label><input type="text" name="data23" id="data23">
                    </li>
                    <li>
                        <label>其他信息说明：</label><input type="text" name="data24" id="data24">
                    </li>
                    <li>
                        <label>上币活动支持：</label><input type="text" name="data27" id="data27">
                    </li>
                    <li>
                        <label>社区QQ群号：</label><input type="text" name="data28" id="data28">
                    </li>
                </ul>
            </div>
            <div class="form-submit">
                <a href="javascript:void(0);" class="submit-btn" onclick="apply_submit();">提交上线申请</a>
            </div>
        </form>
    </div>
</div>
<script>
    function apply_submit(){
        var data1 = $("#data1").val();
        var data2 = $("#data2").val();
        var data3 = $("#data3").val();
        var data4 = $("#data4").val();
        var data5 = $("#data5").val();
        var data6 = $("#data6").val();
        var data7 = $("#data7").val();
        var data8 = $("#data8").val();
        var data9 = $("#data9").val();
        var data10 = $("#data10").val();
        var data11 = $("#data11").val();
        var data12 = $("#data12").val();
        var data13 = $("#data13").val();
        var data14 = $("#data14").val();
        var data15 = $("#data15").val();
        var data16 = $("#data16").val();
        var data17 = $("#data17").val();
        var data18 = $("#data18").val();
        var data19 = $("#data19").val();
        var data20 = $("#data20").val();
        var data21 = $("#data21").val();
        var data22 = $("#data22").val();
        var data23 = $("#data23").val();
        var data24 = $("#data24").val();
        var data25 = $("#data25").val();
        var data26 = $("#data26").val();
        var data27 = $("#data27").val();
        var data28 = $("#data28").val();
        var data29 = $("#data29").val();
        $.post("/User/token_apply_submit/", {
            data1: data1,
            data2: data2,
            data3: data3,
            data4: data4,
            data5: data5,
            data6: data6,
            data7: data7,
            data8: data8,
            data9: data9,
            data10: data10,
            data11: data11,
            data12: data12,
            data13: data13,
            data14: data14,
            data15: data15,
            data16: data16,
            data17: data17,
            data18: data18,
            data19: data19,
            data20: data20,
            data21: data21,
            data22: data22,
            data23: data23,
            data24: data24,
            data25: data25,
            data26: data26,
            data27: data27,
            data28: data28,
            data29: data29,
        }, function (data) {
            if (data.status == 1) {
                layer.msg(data.info, {icon: 1,time:3000},function () {
                    window.location = window.location.href;
                    if(data.url){
                        window.location.href=data.url;
                    }else{
                        window.location = window.location.href;
                    }
                });
            } else {
                $("#login_verify_up").click();
                layer.msg(data.info, {icon: 2,time:3000});
            }
        }, "json");
    }
</script>
<include file="Public:footer" />