<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" id="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>邮箱认证</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<style type="text/css">

</style>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="header-content">
				<div class="clearfix search-slide-box">
					<a href="#" class="search-slide-back pull-left"></a>
					<div class="pull-right search-input-box">
						<p class="order-header tc">邮箱认证</p>
					</div>
				</div>
			</div>
		</div>
		<div class="content content2 bg1f2029">
			<div id="form-page" class="default-form">
				<ul class="uc-form">
					<li class="wrap-form-item">
						<p class="clearfix"><span class="wrap-form-label">邮箱</span></p>
						<input class="form-input" type="text" name="name[]" placeholder="输入邮箱">
					</li>
					<li class="wrap-form-item">
						<p><span class="wrap-form-label">验证码</span></p>
						<div class="input-group input-group-code clearfix">
							<input type="text" name="name[]" class="form-control" placeholder="输入验证码"><span class="input-group-addon"><img src="http://v2.bjs.bi/Verify/code.html?t=0.5891824369428529"></span>
						</div>
					</li>
					<li class="wrap-form-item">
						<p><span class="wrap-form-label">邮箱验证码</span></p>
						<div class="input-group input-group-r clearfix">
							<input type="text" name="name[]" class="form-control" placeholder="输入验证"><span class="input-group-addon">发送</span>
						</div>
					</li>
					<li class="wrap-form-item wrap-form-item-submit">
						<button class="default-form-submit default-form-blue" id="renzheng-submit">认证</button>
					</li>
				</ul>
			</div>
			<div id="list-page" class="default-form hide">
				<p class="padt4"></p>
				<ul class="pad5">
					<li class="wrap-form-item padt4">
						<p class="clearfix"><span class="wrap-form-label">邮箱号码</span> <span class="pull-right lh1375">已认证</span></p>
						<p class="padt2 bjs-color-white font5">77*****52@qq.com</p>
					</li>
					<li class="wrap-form-item padt4">
						<p class="clearfix"><span class="wrap-form-label">认证时间</span></p>
						<p class="padt2 bjs-color-white font5">2018/08/06 12:36:22</p>
					</li>	
					<li class="wrap-form-item padt4 bot1">
						<p class="clearfix padt2"><span class="wrap-form-label">邮件认证</span> <label class="pull-right off-open"><input class="hide" type="checkbox" name="name[]"><span></span></label></p>
					</li>				
				</ul>
			</div>
			<div class="padt4"></div>
		</div>
		<div class="wrap-dialog hide">
			<div class="wrap-dialog-bg"></div>
			<div class="wrap-dialog-box">
				<div class="wrap-dialog-content">
					<div class="wrap-dialog-sucess hide">
						<div class="wrap-dialog-msg tc">
							<p>恭喜您</p>
							<p>邮箱认证成功啦</p>
						</div>
						<div class="wrap-dialog-submit">
							<button class="default-form-submit default-form-blue">确定</button>
						</div>
					</div>
					<div class="wrap-dialog-error hide">
						<div class="wrap-dialog-msg tc">
							<p>很遗憾</p>
							<p>邮箱认证失败</p>
						</div>
						<div class="wrap-dialog-submit">
							<button class="default-form-submit default-form-green">重新认证</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/fastClick.js"></script>
	<script type="text/javascript" src="layer/layer.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript">
		var home;
		$(document).ready(function(){
			home = new bjsIndex();
			home.initUc();
		});

		//弹窗
		$(document).on('click','#renzheng-submit',function(){
			$('.wrap-dialog,.wrap-dialog-'+(Math.random() > 0.5 ? 'sucess':'error')).removeClass('hide');
		});
		$(document).on('click','.wrap-dialog button.default-form-submit',function(){
			$('.wrap-dialog,.wrap-dialog-sucess,.wrap-dialog-error').addClass('hide');
			if($(this).closest('.wrap-dialog-sucess')[0]){
				$('#form-page').addClass('hide');
				$('#list-page').removeClass('hide');
			}
		});
	</script>
</body>
</html>
