<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" id="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>谷歌认证</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<style type="text/css">

</style>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="header-content">
				<div class="clearfix search-slide-box">
					<a href="#" class="search-slide-back pull-left"></a>
					<div class="pull-right search-input-box">
						<p class="order-header tc">谷歌认证</p>
					</div>
				</div>
			</div>
		</div>
		<div class="content content2 bg1f2029">
			<div id="form-page" class="default-form">
				<p class="padt4"></p>
				<ul class="pad5">
					<!-- 二选一 -->
					<li class="wrap-form-item padt4">
						<p class="clearfix"><span class="wrap-form-label lh1375">谷歌身份认证器</span> <a href="google-authenticator.html" class="pull-right bjs-btn default-form-blue">立即绑定</a></p>
					</li>	
					<li class="wrap-form-item padt4">
						<p class="clearfix"><span class="wrap-form-label">谷歌身份认证器</span> <span class="pull-right lh1375">已绑定</span></p>
					</li>	
					<li class="wrap-form-item padt4 bot1">
						<p class="clearfix padt2"><span class="wrap-form-label">谷歌认证</span> <label class="pull-right off-open"><input class="hide" type="checkbox" checked="" name="name[]"><span></span></label></p>
					</li>	
				</ul>
			</div>
			<div class="padt4"></div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/fastClick.js"></script>
	<script type="text/javascript" src="layer/layer.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript">
		var home;
		$(document).ready(function(){
			home = new bjsIndex();
			home.initUc();
		});
	</script>
</body>
</html>
